<header id="home" class="hp-header uk-position-relative uk-clearfix">
	<div class="nav-wrapper" id="main-navigation" data-uk-sticky="{animation: 'uk-animation-slide-top'}">
	    <div class="uk-container-center uk-container">
	        <div class="uk-grid">
	            <div class="uk-width-1-1">
	                <nav class="uk-navbar uk-position-relative ">
	                    <a data-uk-smooth-scroll="{offset:130}" href="#home"><img style="position:absolute; top:7px; width:150px" class="logo-img" src="images/melon_logo2.png" width="80"/></a>
	                    <ul class="uk-navbar-nav uk-visible-large uk-float-right">
			              <li><a data-uk-smooth-scroll="{offset:130}" href="#speakers">{{{__ "menu_speakers"}}}</a></li>
			              <li><a data-uk-smooth-scroll="{offset:130}" href="#venues">{{{__ "menu_industry"}}}</a></li>
			              <li><a data-uk-smooth-scroll="{offset:130}" href="#venues">{{{__ "menu_fan_day"}}}</a></li>
			              <li><a data-uk-smooth-scroll="{offset:130}" href="#tickets">{{{__ "menu_tickets"}}}</a></li>
			              <li><a data-uk-smooth-scroll="{offset:130}" href="#news">{{{__ "menu_news"}}}</a></li>
	                    </ul>
	                   	<span class="translations uk-hidden-small">
	                   	  <a class="navbar-translate-text" href="/en">En</a>
	                   	  <a class="navbar-translate-text" href="/zh">简</a>
		          		  <a class="navbar-translate-text" href="/hk">繁</a>
		          		</span>
		          		<span class="translations-small uk-visible-small">
	                   	  <a class="navbar-translate-text" href="/en">En</a>
	                   	  <a class="navbar-translate-text" href="/zh">简</a>
		          		  <a class="navbar-translate-text" href="/hk">繁</a>
		          		</span>
	                <a class="uk-navbar-toggle uk-navbar-flip uk-hidden-large" data-uk-offcanvas href="#mobile-nav"></a>
	                </nav>
	          </nav>
	                <div id="mobile-nav" class="uk-offcanvas">
					    <div class="uk-offcanvas-bar uk-block">
					        <ul class="uk-nav uk-nav-offcanvas" data-uk-nav>
				              <li><a data-uk-smooth-scroll="{offset:130}" href="#speakers">{{{__ "menu_speakers"}}}</a></li>
				              <li><a data-uk-smooth-scroll="{offset:130}" href="#venues">{{{__ "menu_industry"}}}</a></li>
				              <li><a data-uk-smooth-scroll="{offset:130}" href="#venues">{{{__ "menu_fan_day"}}}</a></li>
				              <li><a data-uk-smooth-scroll="{offset:130}" href="#tickets">{{{__ "menu_tickets"}}}</a></li>
				              <li><a data-uk-smooth-scroll="{offset:130}" href="#news">{{{__ "menu_news"}}}</a></li>
					        </ul>
					    </div>
					</div>
	            </div>
	        </div>
	    </div>
	</div>
</header>

<section id="section1">
	<div class="uk-block-muted">
		<div class="uk-width-small-1-1 uk-width-medium-1-1 uk-large-1-1 uk-width-xl-1-1">
			<div class="uk-panel">
				<div class="uk-slidenav-position uk-position-relative" data-uk-slideshow="{autoplay:true,autoplayInterval:9000}">
					<ul class="uk-slideshow uk-slideshow-fullscreen uk-viewport-height" data-uk-slideshow="">

						<li class="uk-active uk-responsive-height">
							<div class="uk-cover-background uk-position-cover" style="background-image: url('https://s3-ap-southeast-1.amazonaws.com/melonhk/melon_1.jpg');top:-110px"></div>

							<div class="uk-overlay-panel uk-flex uk-flex-left uk-flex-top uk-text-left uk-hidden-small">
								<div class="uk-margin">
									<p class="slider-text-first"><br>
									<br>
									Industry Day Text<br>
									Industry Day Text<br>
									<br>
									<br>
								</div>
							</div>

							<div class="uk-overlay-panel uk-flex uk-flex-right uk-flex-bottom uk-text-right uk-hidden-small">
								<div class="uk-margin">
									<p class="slider-text-first">
									<br>
									{{{__ "venue_date"}}}<br>
									{{{__ "hong_kong"}}}</p>
								</div>
							</div>

							<div class="uk-overlay-panel uk-flex uk-flex-center uk-flex-middle uk-text-center uk-hidden-medium uk-hidden-large">
								<div class="uk-margin tagline-holder">
									<img src="/images/melon_logo2.png" class="uk-hidden-large melon-logo">
									<p class="slider-text-small">
									<br>
									{{{__ "tagline"}}}<br>
									<br>
									{{{__ "venue_date"}}}<br>
									{{{__ "hong_kong"}}}</p>
								</div>
							</div>
						</li>

						<li class="uk-responsive-height">
							<div class="uk-cover-background uk-position-cover" style="background-image: url('https://s3-ap-southeast-1.amazonaws.com/melonhk/banner1_melonhk.jpg')"></div>

							<div class="uk-overlay-panel uk-flex uk-flex-left uk-flex-top uk-text-left uk-hidden-small">
								<div class="uk-margin">
									<p class="slider-text-first"><br>
									<br>
									Fan Day Text<br>
									Fan Day Text<br>
									<br>
									<br>
									<br>
								</div>
							</div>

							<div class="uk-overlay-panel uk-flex uk-flex-right uk-flex-bottom uk-text-right uk-hidden-small">
								<div class="uk-margin">
									<p class="slider-text-first">
									<br>
									{{{__ "venue_date"}}}<br>
									{{{__ "hong_kong"}}}</p>
								</div>
							</div>

							<div class="uk-overlay-panel uk-flex uk-flex-center uk-flex-middle uk-text-center uk-hidden-medium uk-hidden-large">
								<div class="uk-margin tagline-holder">
									<img src="/images/melon_logo2.png" class="uk-hidden-large melon-logo">
									<p class="slider-text-small">
									<br>
									{{{__ "tagline"}}}<br>
									<br>
									{{{__ "venue_date"}}}<br>
									{{{__ "hong_kong"}}}</p>
								</div>
							</div>
						</li>

						<li>
							<div class="uk-cover-background uk-position-cover" style="background-image: url('https://s3-ap-southeast-1.amazonaws.com/melonhk/banner2_melonhk.jpg')"></div>
							<div class="uk-overlay-panel uk-flex uk-flex-center uk-flex-middle uk-text-center uk-hidden-small">
								<div class="uk-margin">
									<p class="slider-text banner-tagline-cursive-text">
									{{{__ "paulKrugmanQuote"}}}<br>
									<br>
									- Paul Krugman</p>
								</div>
							</div>

							<div class="uk-overlay-panel uk-flex uk-flex-center uk-flex-middle uk-text-center uk-hidden-medium uk-hidden-large">
								<div class="uk-margin tagline-holder-small-screen">
									<img src="/images/melon_logo2.png" class="uk-hidden-large melon-logo">
									<p class="slider-text-small banner-tagline-cursive-text-small">
									<br>
									{{{__ "paulKrugmanQuote"}}}<br>
									<br>
									- Paul Krugman</p>
								</div>
							</div>
						</li>
					</ul>
					
					<a class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideshow-item="previous" href=""></a>
					<a class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next" href=""></a>
					
					<div class="uk-overlay-panel uk-overlay-bottom">
					</div>
				</div>
			</div>
		</div>

		<!-- <div class="mouse-icon hidden-xs uk-hidden-small">
			<div class="scroll"></div>
		</div> -->
	</div>
</section>


<section id="venues">
	<div class="uk-container uk-container-center uk-text-center">
		<div class="uk-margin-large-bottom uk-margin-large-top great-title good-for-tagline">{{{__ "venues"}}}</div>
		<div class="uk-grid">
			<div class="uk-width-large-1-2 uk-width-small-1-2 uk-width-extra-small-1-2 uk-width-medium-1-2 flex-center uk-margin-large-bottom">
			<a href="http://www.eatonhouse.com.hk" target="_blank"><img src="/images/eaton_house.jpg"></a>
			<h1>{{{__ "eaton_house"}}}</h1>
			<h3>{{{__ "eaton_address"}}}</h3>
			<h2>{{{__ "day_1"}}}</h2>
			</div>
			<div class="uk-width-large-1-2 uk-width-small-1-2 uk-width-extra-small-1-2 uk-width-medium-1-2 flex-center uk-margin-large-bottom">
			<a href="http://www.hku.hk/visit/" target="_blank"><img src="/images/hku.jpg"></a>
			<h1>{{{__ "hku"}}}</h1>
			<h3>{{{__ "hku_address"}}}</h3>
			<h2>{{{__ "day_2"}}}</h2>
			</div>
		</div>
	</div>
</section>

<hr>

<section class="slant-top services-grid-box uk-block uk-position-relative uk-clearfix" id="section2">
	<div class="uk-container uk-container-center uk-text-center">
		<div class="uk-margin-large-bottom great-title good-for-tagline">{{{__ "goodForTagline"}}}</div>
		<div class="tcs-diagonal-top"></div>
		<div class="tcs-boxes uk-grid good-for-tagline-details" data-uk-grid-margin="" data-uk-grid-match="{target:'&gt; div &gt; .uk-panel'}">
			<div class="uk-width-1-1 uk-width-medium-1-2">
				<div class="uk-grid uk-flex-middle" data-uk-grid-margin="">
					<div class="uk-width-medium-3-3 uk-flex-middle">
						<div class="uk-margin-top text-great-title good-for-tagline-header">
							{{{__ "creative_talents"}}}
						</div>
						<div>
							{{{__ "creative_subtitle"}}}
						</div>
						<p class="text-great uk-text-left">
							{{{__ "creative_text"}}}
						</p>
					</div>
				</div>
			</div>
			<div class="uk-width-1-1 uk-width-medium-1-2">
				<div class="uk-grid uk-flex-middle" data-uk-grid-margin="">
					<div class="uk-width-medium-3-3 uk-flex-middle">
						<div class="uk-margin-top text-great-title good-for-tagline-header">
							{{{__ "business_side"}}}
						</div>
						<div>
							{{{__ "business_subtitle"}}}
						</div>
						<p class="text-great uk-text-left">
							{{{__ "business_text"}}}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<hr>

<section id="speakers">
	<div class="uk-container uk-container-center uk-text-center">
		<div class="uk-margin-large-bottom great-title good-for-tagline">{{{__ "speakers"}}}</div>
		<div class="uk-grid">
<!-- 			<div class="uk-width-large-1-4 uk-width-small-1-2 uk-width-extra-small-1-2 uk-width-medium-1-4 flex-center uk-margin-large-bottom"><a href="#bio-speaker1" data-uk-modal><img src="{{{__ 'speaker1_picture'}}}"></a>
			<div class="uk-margin-small-top">{{{__ "speaker1_name"}}}
	        <br>{{{__ "speaker1_title"}}}
	        <br>{{{__ "speaker1_country"}}}
			</div></div> -->
			<div class="uk-width-large-1-4 uk-width-small-1-2 uk-width-extra-small-1-2 uk-width-medium-1-4 flex-center uk-margin-large-bottom"><a href="#bio-speaker2" data-uk-modal><img src="{{{__ 'speaker2_picture'}}}"></a>
			<div class="uk-margin-small-top">{{{__ "speaker2_name"}}}
	        <br>{{{__ "speaker2_title"}}}
	        <br>{{{__ "speaker2_country"}}}
			</div></div>
			<div class="uk-width-large-1-4 uk-width-small-1-2 uk-width-extra-small-1-2 uk-width-medium-1-4 flex-center uk-margin-large-bottom"><a href="#bio-speaker3" data-uk-modal><img src="{{{__ 'speaker3_picture'}}}"></a>
			<div class="uk-margin-small-top">{{{__ "speaker3_name"}}}
	        <br>{{{__ "speaker3_title"}}}
	        <br>{{{__ "speaker3_country"}}}
			</div></div>
<!-- 			<div class="uk-width-large-1-4 uk-width-small-1-2 uk-width-extra-small-1-2 uk-width-medium-1-4 flex-center uk-margin-large-bottom"><a href="#bio-speaker4" data-uk-modal><img src="{{{__ 'speaker4_picture'}}}"></a>
			<div class="uk-margin-small-top">{{{__ "speaker4_name"}}}
	        <br>{{{__ "speaker4_title"}}}
	        <br>{{{__ "speaker4_country"}}}
			</div></div> -->
<!-- 			<div class="uk-width-large-1-4 uk-width-small-1-2 uk-width-extra-small-1-2 uk-width-medium-1-4 flex-center uk-margin-large-bottom"><a href="#bio-speaker5" data-uk-modal><img src="{{{__ 'speaker5_picture'}}}"></a>
			<div class="uk-margin-small-top">{{{__ "speaker5_name"}}}
	        <br>{{{__ "speaker5_title"}}}
	        <br>{{{__ "speaker5_country"}}}
			</div></div> -->
			<div class="uk-width-large-1-4 uk-width-small-1-2 uk-width-extra-small-1-2 uk-width-medium-1-4 flex-center uk-margin-large-bottom"><a href="#bio-speaker6" data-uk-modal><img src="{{{__ 'speaker6_picture'}}}"></a>
			<div class="uk-margin-small-top">{{{__ "speaker6_name"}}}
	        <br>{{{__ "speaker6_title"}}}
	        <br>{{{__ "speaker6_country"}}}
			</div></div>
			<div class="uk-width-large-1-4 uk-width-small-1-2 uk-width-extra-small-1-2 uk-width-medium-1-4 flex-center uk-margin-large-bottom"><a href="#bio-speaker7" data-uk-modal><img src="{{{__ 'speaker7_picture'}}}"></a>
			<div class="uk-margin-small-top">{{{__ "speaker7_name"}}}
	        <br>{{{__ "speaker7_title"}}}
	        <br>{{{__ "speaker7_country"}}}
			</div></div>
			<div class="uk-width-large-1-4 uk-width-small-1-2 uk-width-extra-small-1-2 uk-width-medium-1-4 flex-center uk-margin-large-bottom"><a href="#bio-speaker8" data-uk-modal><img src="{{{__ 'speaker8_picture'}}}"></a>
			<div class="uk-margin-small-top">{{{__ "speaker8_name"}}}
	        <br>{{{__ "speaker8_title"}}}
	        <br>{{{__ "speaker8_country"}}}
			</div></div>
<!-- 			<div class="uk-width-large-1-4 uk-width-small-1-2 uk-width-extra-small-1-2 uk-width-medium-1-4 flex-center uk-margin-large-bottom"><a href="#bio-speaker9" data-uk-modal><img src="{{{__ 'speaker9_picture'}}}"></a>
			<div class="uk-margin-small-top">{{{__ "speaker9_name"}}}
	        <br>{{{__ "speaker9_title"}}}
	        <br>{{{__ "speaker9_country"}}}
			</div></div> -->
			<div class="uk-width-large-1-4 uk-width-small-1-2 uk-width-extra-small-1-2 uk-width-medium-1-4 flex-center uk-margin-large-bottom"><a href="#bio-speaker10" data-uk-modal><img src="{{{__ 'speaker10_picture'}}}"></a>
			<div class="uk-margin-small-top">{{{__ "speaker10_name"}}}
	        <br>{{{__ "speaker10_title"}}}
	        <br>{{{__ "speaker10_country"}}}
			</div></div>
<!-- 			<div class="uk-width-large-1-4 uk-width-small-1-2 uk-width-extra-small-1-2 uk-width-medium-1-4 flex-center uk-margin-large-bottom"><a href="#bio-speaker11" data-uk-modal><img src="{{{__ 'speaker11_picture'}}}"></a>
			<div class="uk-margin-small-top">{{{__ "speaker11_name"}}}
	        <br>{{{__ "speaker11_title"}}}
	        <br>{{{__ "speaker11_country"}}}
			</div></div> -->
			<div class="uk-width-large-1-4 uk-width-small-1-2 uk-width-extra-small-1-2 uk-width-medium-1-4 flex-center uk-margin-large-bottom"><a href="#bio-speaker12" data-uk-modal><img src="{{{__ 'speaker12_picture'}}}"></a>
			<div class="uk-margin-small-top">{{{__ "speaker12_name"}}}
	        <br>{{{__ "speaker12_title"}}}
	        <br>{{{__ "speaker12_country"}}}
			</div></div>
			<div class="uk-width-large-1-4 uk-width-small-1-2 uk-width-extra-small-1-2 uk-width-medium-1-4 flex-center uk-margin-large-bottom"><a href="#bio-speaker13" data-uk-modal><img src="{{{__ 'speaker13_picture'}}}"></a>
			<div class="uk-margin-small-top">{{{__ "speaker13_name"}}}
	        <br>{{{__ "speaker13_title"}}}
	        <br>{{{__ "speaker13_country"}}}
			</div></div>
<!-- 			<div class="uk-width-large-1-4 uk-width-small-1-2 uk-width-extra-small-1-2 uk-width-medium-1-4 flex-center uk-margin-large-bottom"><a href="#bio-speaker14" data-uk-modal><img src="{{{__ 'speaker14_picture'}}}"></a>
			<div class="uk-margin-small-top">{{{__ "speaker14_name"}}}
	        <br>{{{__ "speaker14_title"}}}
	        <br>{{{__ "speaker14_country"}}}
			</div></div>
			<div class="uk-width-large-1-4 uk-width-small-1-2 uk-width-extra-small-1-2 uk-width-medium-1-4 flex-center uk-margin-large-bottom"><a href="#bio-speaker15" data-uk-modal><img src="{{{__ 'speaker15_picture'}}}"></a>
			<div class="uk-margin-small-top">{{{__ "speaker15_name"}}}
	        <br>{{{__ "speaker15_title"}}}
	        <br>{{{__ "speaker15_country"}}}
			</div></div>
			<div class="uk-width-large-1-4 uk-width-small-1-2 uk-width-extra-small-1-2 uk-width-medium-1-4 flex-center uk-margin-large-bottom"><a href="#bio-speaker16" data-uk-modal><img src="{{{__ 'speaker16_picture'}}}"></a>
			<div class="uk-margin-small-top">{{{__ "speaker16_name"}}}
	        <br>{{{__ "speaker16_title"}}}
	        <br>{{{__ "speaker16_country"}}}
			</div></div>
			<div class="uk-width-large-1-4 uk-width-small-1-2 uk-width-extra-small-1-2 uk-width-medium-1-4 flex-center uk-margin-large-bottom"><a href="#bio-speaker17" data-uk-modal><img src="{{{__ 'speaker17_picture'}}}"></a>
			<div class="uk-margin-small-top">{{{__ "speaker17_name"}}}
	        <br>{{{__ "speaker17_title"}}}
	        <br>{{{__ "speaker17_country"}}}
			</div></div>
			<div class="uk-width-large-1-4 uk-width-small-1-2 uk-width-extra-small-1-2 uk-width-medium-1-4 flex-center uk-margin-large-bottom"><a href="#bio-speaker18" data-uk-modal><img src="{{{__ 'speaker18_picture'}}}"></a>
			<div class="uk-margin-small-top">{{{__ "speaker18_name"}}}
	        <br>{{{__ "speaker18_title"}}}
	        <br>{{{__ "speaker18_country"}}}
			</div></div> -->
		</div>
	</div>
</section>


<section class="uk-flex uk-flex-center uk-flex-middle uk-hidden-small" id="hong-kong" style="background-image: url('https://s3-ap-southeast-1.amazonaws.com/melonhk/hk_banner2_melonhk.jpg')">
</section>

<section class="uk-responsive-width uk-hidden-medium uk-hidden-large" style="max-width: 100vw">
	<img src="/images/hk_skyline_small.jpg" alt="hong_kong_skyline">
</section>




<section class="sub clients">
	<h1 class="sub-section-header black uk-text-center uk-margin-large-bottom uk-padding-large-top event-sponsors-holder">
		{{{__ "event_sponsors"}}}
	</h1>
	<div class="uk-container uk-container-center uk-text-center">
		<div class="uk-grid">
			<div class="uk-width-large-1-2 uk-width-small-1-2 uk-width-medium-1-2 flex-center uk-margin-large-bottom">
			<h2>{{{__ "main_sponsor"}}}</h2><br><img src="/images/qrc2.jpg"></div>
			<div class="uk-width-large-1-2 uk-width-small-1-2 uk-width-medium-1-2 flex-center uk-margin-large-bottom">
			<h2>{{{__ "venue_sponsor"}}}</h2><br>
			<a href="http://www.eatonhouse.com.hk" target="_blank"><img src="/images/eaton_logo.png" style="width: 300px">
			</a><br></div>
		</div>
	</div>
</section>

<hr>

<section class="sub clients">
	<h2 class="sub-section-header black uk-text-center uk-margin-large-bottom uk-padding-large-top event-sponsors-holder">
		{{{__ "partners"}}}
	</h2>
	<div class="uk-container uk-container-center uk-text-center">
		<div class="uk-grid">
			<div class="uk-width-large-1-3 uk-width-small-1-1 uk-width-medium-1-3 flex-center uk-margin-large-bottom">
			<a href="https://www.spoilt.com.hk/en/c/18-event-management" target="_blank"><img style="max-height: 150px" src="/images/spoilt3.png"></a></div>
			<div class="uk-width-large-1-3 uk-width-small-1-1 uk-width-medium-1-3 flex-center uk-margin-large-bottom">
			<a href="https://codeshop.io" target="_blank"><img style="max-height: 150px" src="/images/codeshop.png"></a></div>
			<div class="uk-width-large-1-3 uk-width-small-1-1 uk-width-medium-1-3 flex-center uk-margin-large-bottom">
			<a href="http://uplive.tw" target="_blank"><img style="max-height: 150px" src="/images/uplive.png"></a></div>
		</div>
	</div>
</section>

<hr>

<section class="banner-profile">
	<div class="uk-grid uk-grid-small uk-grid-medium uk-grid-large data-uk-grid-margin">
		<div class="uk-width-small-1-1 uk-width-meduim-1-1 uk-width-large-1-1 uk-width-xl-1-1">
			<article class="uk-article">
				<div class="uk-text-center">
					<h1 class="event-organizer">{{{__ "organizers"}}}</h1>
				</div>
			</article>
		</div>
	</div>
	<div class="uk-grid">
		<div class="uk-width-large-1-2 uk-width-small-1-1 uk-margin-large-bottom">
			<div class="uk-grid">
				<div class="uk-width-large-1-3 uk-width-small-1-1 uk-text-center">
					<div><img class="uk-border-circle" src="images/Fritz.png"></div>
				</div>
				<div class="uk-width-large-2-3 uk-width-small-1-1">
					<p class="uk-text-center bio-title co-organizer-text">{{{__ "fritz_name"}}}</p>
					<div class="bio-text co-organizer-text">
						{{{__ "fritz_bio"}}}
					</div>
				</div>
			</div>
		</div>
		<div class="uk-width-large-1-2 uk-width-small-1-1">
			<div class="uk-grid">
				<div class="uk-width-large-1-3 uk-width-small-1-1 uk-text-center">
					<div><img class="uk-border-circle" src="images/Siew.png"></div>
				</div>
				<div class="uk-width-large-2-3 uk-width-small-1-1">
					<p class="uk-text-center bio-title co-organizer-text">{{{__ "siew_name"}}}</p>
					<div class="bio-text co-organizer-text">
						{{{__ "siew_bio"}}}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<hr>


<!-- <div id="industryday"class="uk-container-center uk-container uk-width-2-3">
<section class="tm-bottom-a uk-grid" data-uk-grid-margin="" data-uk-grid-match="{target:'&gt; div &gt; .uk-panel'}">
		<div class="uk-text-center uk-container-center">
			<h1 class="uk-text uk-text-center">{{{__ "event_program"}}}</h1>
		</div>
		<div class="uk-width-1-1 uk-row-first">
			<div class="uk-panel">
				<div class="tm-event">
					<div class="uk-flex uk-flex-space-between">
						<div class="tm-event-nav uk-flex uk-flex-right">
							<ul class="uk-subnav" data-uk-switcher="{connect: '#wk-746', animation: 'fade'}">
								<li aria-expanded="true" class="uk-active">
									<a href="" style="font-size: 2em">{{{__ "program_day1"}}} &nbsp;&nbsp;&nbsp;</a>
								</li>
								<li aria-expanded="false" class="" >
									<a href="" style="font-size: 2em">{{{__ "program_day2"}}}</a>
								</li>
							</ul>
						</div>
					</div>
					<ul class="uk-switcher" id="wk-746">
						<li aria-hidden="true" class="" style="animation-duration: 200ms;">
							<div class="uk-grid uk-grid-collapse uk-width-1-1" data-uk-margin="">
								<div class="uk-width-medium-1-3">
									<h3 class="tm-title-dash"><span class="tm-day">{{{__ "program_day1_time1"}}}</span></h3>
								</div>
								<div class="uk-width-medium-2-3">
									<div class="uk-panel uk-width-1-1">
										<h3 class="uk-panel-title">{{{__ "program_day1_time1_title"}}}</h3>
										<div class="uk-margin">
											{{{__ "program_day1_time1_desc"}}} 
										</div><span><a class="tm-link-line uk-text-small" href="https://www.google.com/maps/place/Le%20Parker%20Meridien%20New%20York/@40.7642505,-73.9785605" target="_blank">{{{__ "program_day1_time1_location"}}}</a></span>
									</div>
								</div>
							</div>
							<div class="uk-grid uk-grid-collapse uk-width-1-1" data-uk-margin="">
								<div class="uk-width-medium-1-3">
									<h3 class="tm-title-dash"><span class="tm-day">{{{__ "program_day1_time2"}}}</h3>
								</div>
								<div class="uk-width-medium-2-3">
									<div class="uk-panel uk-width-1-1">
										<h3 class="uk-panel-title">{{{__ "program_day1_time2_title"}}} <span class="uk-float-right uk-badge tm-time">recommended</span></h3>
										<div class="uk-margin">
											{{{__ "program_day1_time2_desc"}}}
										</div>
									</div>
								</div>
							</div>
						</li>
						<li aria-hidden="false" class="uk-active" style="animation-duration: 200ms;">
							<div class="uk-grid uk-grid-collapse uk-width-1-1" data-uk-margin="">
								<div class="uk-width-medium-1-3">
									<h3 class="tm-title-dash"><span class="tm-day"> {{{__ "program_day2_time1"}}} </span></h3>
								</div>
								<div class="uk-width-medium-2-3">
									<div class="uk-panel uk-width-1-1">
										<h3 class="uk-panel-title">{{{__ "program_day2_time1_title"}}}<span class="uk-float-right uk-badge tm-time">recommended</span></h3>
										<div class="uk-margin">
											{{{__ "program_day2_time1_desc"}}}
										</div>
									</div>
								</div>
							</div>
							<div class="uk-grid uk-grid-collapse uk-width-1-1" data-uk-margin="">
								<div class="uk-width-medium-1-3">
									<h3 class="tm-title-dash"><span class="tm-day">{{{__ "program_day2_time2"}}}</span></h3>
								</div>
								<div class="uk-width-medium-2-3">
									<div class="uk-panel uk-width-1-1">
										<h3 class="uk-panel-title">{{{__ "program_day2_time2_title"}}}</h3>
										<div class="uk-margin">
											{{{__ "program_day2_time2_desc"}}}
										</div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
</div>

<hr> -->

<section id="tickets" class="uk-margin-large-top uk-container uk-container-center" id="join">
	<div>
		<h1 class="uk-text uk-text-center">{{{__ "contact_title"}}}</h1>
		<div class="bio-text co-organizer-text">
			<div class="clear uk-text-center uk-container uk-container-center" style="max-width: 500px" style="text-decoration: none">
				<a href="https://eventbrite.com" target="_blank" style="text-decoration: none">
				<div class="co-organizer-text uk-margin-small-bottom" id="bookindustrynow" style="text-decoration: none;">
				{{{__ "book_industry_now"}}}</div>
				</a>
				<a href="https://eventbrite.com" target="_blank" style="text-decoration: none">
				<div class="co-organizer-text uk-margin-small-bottom" id="bookfannow" style="text-decoration: none;">
				{{{__ "book_fan_now"}}}</div>
				</a>
			</div>
		</div>
	</div>
</section>

<hr>

<section class="uk-margin-large-top uk-margin-large-bottom uk-container uk-container-center" id="contact">
	<div class="uk-margin-large-bottom">
		<h1 class="uk-text uk-text-center">{{{__ "contact_us"}}}</h1>
		<div class="bio-text co-organizer-text">
			{{{__ "general"}}}
		<br><br>{{{__ "media"}}}
		</div>
	</div>
</section>

<hr>

<section class="uk-margin-large-top uk-margin-large-bottom uk-container uk-container-center" id="join">
	<div class="uk-margin-large-bottom">
		<h1 class="uk-text uk-text-center">{{{__ "join_team"}}}</h1>
		<div class="bio-text co-organizer-text">
			{{{__ "join_team_text"}}}

		<br><br>{{{__ "join_team_click"}}}
		</div>
	</div>
</section>

<hr>

	<section id="news" class="uk-margin-large-top uk-margin-large-bottom uk-container uk-container-center" id="social">
		<h1 class="uk-text uk-text-center">{{{__ "social_title"}}}</h1>
		<script src="//assets.juicer.io/embed.js" type="text/javascript">
		</script>
		<link href="//assets.juicer.io/embed.css" media="all" rel="stylesheet" type="text/css">
		<div class="juicer-feed" data-feed-id="melonhk" style="margin-left: 2em">
			<h1 class="referral"><a href="https://www.juicer.io">{{{__ "juicer"}}}</a></h1>
		</div>
	</section>


	<section id="footer" class="uk-margin-small-bottom">
		<div class="uk-container uk-container-center">
			<div class="uk-grid uk-grid-small uk-grid-medium uk-grid-large">
				<div class="uk-width-1-1">
					<p class="copy">{{{__ "footer"}}}</p>
				</div>
			</div>
		</div>
	</section>

	<div id="bio-speaker1" class="uk-modal">
	    <div class="uk-modal-dialog">
	        <a class="uk-modal-close uk-close"></a>
	        
	        <div class="uk-container uk-container-center">
	        	<div class="uk-text-center">
	        		<img src="{{{__ 'speaker1_picture'}}}"/>
	        	</div>
	        	<div class="uk-text-center uk-margin-small-top">{{{__ "speaker1_name"}}}
	        	<br>{{{__ "speaker1_title"}}}
	        	<br>{{{__ "speaker1_country"}}}
	        	</div>
		        <p>
		        {{{__ "speaker1_bio"}}}
		 		</p>
	 		</div>
	    </div>
	</div>

	<div id="bio-speaker2" class="uk-modal">
	    <div class="uk-modal-dialog">
	        <a class="uk-modal-close uk-close"></a>
	        
	        <div class="uk-container uk-container-center">
	        	<div class="uk-text-center"><img src="{{{__ 'speaker2_picture'}}}"/>
	        	</div>
	        	<div class="uk-text-center uk-margin-small-top">{{{__ "speaker2_name"}}}
	        	<br>{{{__ "speaker2_title"}}}
	        	<br>{{{__ "speaker2_country"}}}
	        	</div>
		        <p>
		        {{{__ "speaker2_bio"}}}
		 		</p>
	 		</div>
	    </div>
	</div>

	<div id="bio-speaker3" class="uk-modal">
	    <div class="uk-modal-dialog">
	        <a class="uk-modal-close uk-close"></a>
	        
	        <div class="uk-container uk-container-center">
	        	<div class="uk-text-center"><img src="{{{__ 'speaker3_picture'}}}"/></div>
	        	<div class="uk-text-center uk-margin-small-top">{{{__ "speaker3_name"}}}
	        	<br>{{{__ "speaker3_title"}}}
	        	<br>{{{__ "speaker3_country"}}}
	        	</div>
		        <p>
		        {{{__ "speaker3_bio"}}}
		 		</p>
	 		</div>
	    </div>
	</div>

	<div id="bio-speaker4" class="uk-modal">
	    <div class="uk-modal-dialog">
	        <a class="uk-modal-close uk-close"></a>
	        
	        <div class="uk-container uk-container-center">
	        	<div class="uk-text-center"><img src="{{{__ 'speaker4_picture'}}}"/></div>
	        	<div class="uk-text-center uk-margin-small-top">{{{__ "speaker4_name"}}}
	        	<br>{{{__ "speaker4_title"}}}
	        	<br>{{{__ "speaker4_country"}}}
	        	</div>
		        <p>
		        {{{__ "speaker4_bio"}}}
		 		</p>
	 		</div>
	    </div>
	</div>

	<div id="bio-speaker5" class="uk-modal">
	    <div class="uk-modal-dialog">
	        <a class="uk-modal-close uk-close"></a>
	        
	        <div class="uk-container uk-container-center">
	        	<div class="uk-text-center"><img src="{{{__ 'speaker5_picture'}}}"/></div>
	        	<div class="uk-text-center uk-margin-small-top">{{{__ "speaker5_name"}}}
	        	<br>{{{__ "speaker5_title"}}}
	        	<br>{{{__ "speaker5_country"}}}
	        	</div>
		        <p>
		        {{{__ "speaker5_bio"}}}
		 		</p>
	 		</div>
	    </div>
	</div>

	<div id="bio-speaker6" class="uk-modal">
	    <div class="uk-modal-dialog">
	        <a class="uk-modal-close uk-close"></a>
	        <div class="uk-container uk-container-center">
	        	<div class="uk-text-center"><img src="{{{__ 'speaker6_picture'}}}"/></div>
	        	<div class="uk-text-center uk-margin-small-top">{{{__ "speaker6_name"}}}
	        	<br>{{{__ "speaker6_title"}}}
	        	<br>{{{__ "speaker6_country"}}}
	        	</div>
		        <p>
		        {{{__ "speaker6_bio"}}}
		 		</p>
	 		</div>
	    </div>
	</div>

	<div id="bio-speaker7" class="uk-modal">
	    <div class="uk-modal-dialog">
	        <a class="uk-modal-close uk-close"></a>
	        
	        <div class="uk-container uk-container-center">
	        	<div class="uk-text-center"><img src="{{{__ 'speaker7_picture'}}}"/></div>
	        	<div class="uk-text-center uk-margin-small-top">{{{__ "speaker7_name"}}}
	        	<br>{{{__ "speaker7_title"}}}
	        	<br>{{{__ "speaker7_country"}}}
	        	</div>
		        <p>
		        {{{__ "speaker7_bio"}}}
		 		</p>
	 		</div>
	    </div>
	</div>

	<div id="bio-speaker8" class="uk-modal">
	    <div class="uk-modal-dialog">
	        <a class="uk-modal-close uk-close"></a>
	        
	        <div class="uk-container uk-container-center">
	        	<div class="uk-text-center"><img src="{{{__ 'speaker8_picture'}}}"/></div>
	        	<div class="uk-text-center uk-margin-small-top">{{{__ "speaker8_name"}}}
	        	<br>{{{__ "speaker8_title"}}}
	        	<br>{{{__ "speaker8_country"}}}
	        	</div>
		        <p>
		        {{{__ "speaker8_bio"}}}
		 		</p>
	 		</div>
	    </div>
	</div>

	<div id="bio-speaker9" class="uk-modal">
	    <div class="uk-modal-dialog">
	        <a class="uk-modal-close uk-close"></a>
	        
	        <div class="uk-container uk-container-center">
	        	<div class="uk-text-center"><img src="{{{__ 'speaker9_picture'}}}"/></div>
	        	<div class="uk-text-center uk-margin-small-top">{{{__ "speaker9_name"}}}
	        	<br>{{{__ "speaker9_title"}}}
	        	<br>{{{__ "speaker9_country"}}}
	        	</div>
		        <p>
		        {{{__ "speaker9_bio"}}}
		 		</p>
	 		</div>
	    </div>
	</div>

	<div id="bio-speaker10" class="uk-modal">
	    <div class="uk-modal-dialog">
	        <a class="uk-modal-close uk-close"></a>
	        
	        <div class="uk-container uk-container-center">
	        	<div class="uk-text-center"><img src="{{{__ 'speaker10_picture'}}}"/></div>
	        	<div class="uk-text-center uk-margin-small-top">{{{__ "speaker10_name"}}}
	        	<br>{{{__ "speaker10_title"}}}
	        	<br>{{{__ "speaker10_country"}}}
	        	</div>
		        <p>
		        {{{__ "speaker10_bio"}}}
		 		</p>
	 		</div>
	    </div>
	</div>

	<div id="bio-speaker11" class="uk-modal">
	    <div class="uk-modal-dialog">
	        <a class="uk-modal-close uk-close"></a>
	        
	        <div class="uk-container uk-container-center">
	        	<div class="uk-text-center"><img src="{{{__ 'speaker11_picture'}}}"/></div>
	        	<div class="uk-text-center uk-margin-small-top">{{{__ "speaker11_name"}}}
	        	<br>{{{__ "speaker11_title"}}}
	        	<br>{{{__ "speaker11_country"}}}
	        	</div>
		        <p>
		        {{{__ "speaker11_bio"}}}
		 		</p>
	 		</div>
	    </div>
	</div>

	<div id="bio-speaker12" class="uk-modal">
	    <div class="uk-modal-dialog">
	        <a class="uk-modal-close uk-close"></a>
	        
	        <div class="uk-container uk-container-center">
	        	<div class="uk-text-center"><img src="{{{__ 'speaker12_picture'}}}"/></div>
	        	<div class="uk-text-center uk-margin-small-top">{{{__ "speaker12_name"}}}
	        	<br>{{{__ "speaker12_title"}}}
	        	<br>{{{__ "speaker12_country"}}}
	        	</div>
		        <p>
		        {{{__ "speaker12_bio"}}}
		 		</p>
	 		</div>
	    </div>
	</div>

	<div id="bio-speaker13" class="uk-modal">
	    <div class="uk-modal-dialog">
	        <a class="uk-modal-close uk-close"></a>
	        
	        <div class="uk-container uk-container-center">
	        	<div class="uk-text-center"><img src="{{{__ 'speaker13_picture'}}}"/></div>
	        	<div class="uk-text-center uk-margin-small-top">{{{__ "speaker13_name"}}}
	        	<br>{{{__ "speaker13_title"}}}
	        	<br>{{{__ "speaker13_country"}}}
	        	</div>
		        <p>
		        {{{__ "speaker13_bio"}}}
		 		</p>
	 		</div>
	    </div>
	</div>

	<div id="bio-speaker14" class="uk-modal">
	    <div class="uk-modal-dialog">
	        <a class="uk-modal-close uk-close"></a>
	        
	        <div class="uk-container uk-container-center">
	        	<div class="uk-text-center"><img src="{{{__ 'speaker14_picture'}}}"/></div>
	        	<div class="uk-text-center uk-margin-small-top">{{{__ "speaker14_name"}}}
	        	<br>{{{__ "speaker14_title"}}}
	        	<br>{{{__ "speaker14_country"}}}
	        	</div>
		        <p>
		        {{{__ "speaker14_bio"}}}
		 		</p>
	 		</div>
	    </div>
	</div>

	<div id="bio-speaker15" class="uk-modal">
	    <div class="uk-modal-dialog">
	        <a class="uk-modal-close uk-close"></a>
	        
	        <div class="uk-container uk-container-center">
	        	<div class="uk-text-center"><img src="{{{__ 'speaker15_picture'}}}"/></div>
	        	<div class="uk-text-center uk-margin-small-top">{{{__ "speaker15_name"}}}
	        	<br>{{{__ "speaker15_title"}}}
	        	<br>{{{__ "speaker15_country"}}}
	        	</div>
		        <p>
		        {{{__ "speaker15_bio"}}}
		 		</p>
	 		</div>
	    </div>
	</div>

	<div id="bio-speaker16" class="uk-modal">
	    <div class="uk-modal-dialog">
	        <a class="uk-modal-close uk-close"></a>
	        
	        <div class="uk-container uk-container-center">
	        	<div class="uk-text-center"><img src="{{{__ 'speaker16_picture'}}}"/></div>
	        	<div class="uk-text-center uk-margin-small-top">{{{__ "speaker16_name"}}}
	        	<br>{{{__ "speaker16_title"}}}
	        	<br>{{{__ "speaker16_country"}}}
	        	</div>
		        <p>
		        {{{__ "speaker16_bio"}}}
		 		</p>
	 		</div>
	    </div>
	</div>

	<div id="bio-speaker17" class="uk-modal">
	    <div class="uk-modal-dialog">
	        <a class="uk-modal-close uk-close"></a>
	        
	        <div class="uk-container uk-container-center">
	        	<div class="uk-text-center"><img src="{{{__ 'speaker17_picture'}}}"/></div>
	        	<div class="uk-text-center uk-margin-small-top">{{{__ "speaker17_name"}}}
	        	<br>{{{__ "speaker17_title"}}}
	        	<br>{{{__ "speaker17_country"}}}
	        	</div>
		        <p>
		        {{{__ "speaker17_bio"}}}
		 		</p>
	 		</div>
	    </div>
	</div>

	<div id="bio-speaker18" class="uk-modal">
	    <div class="uk-modal-dialog">
	        <a class="uk-modal-close uk-close"></a>
	        
	        <div class="uk-container uk-container-center">
	        	<div class="uk-text-center"><img src="{{{__ 'speaker18_picture'}}}"/></div>
	        	<div class="uk-text-center uk-margin-small-top">{{{__ "speaker18_name"}}}
	        	<br>{{{__ "speaker18_title"}}}
	        	<br>{{{__ "speaker18_country"}}}
	        	</div>
		        <p>
		        {{{__ "speaker18_bio"}}}
		 		</p>
	 		</div>
	    </div>
	</div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.23/jquery.form-validator.min.js"></script>

	<script>
	 $.validate({
	   lang: 'en'
	 });
	</script>

	<script src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js' type='text/javascript'></script>


	<script type='text/javascript'>
	(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);
	</script>
