<header id="home" class="hp-header uk-position-relative uk-clearfix">
	<div class="nav-wrapper" id="main-navigation" uk-sticky="{animation: 'uk-animation-slide-top'}">
	    <div class="uk-container">
	        <div class="uk-grid">
	            <div class="uk-width-1-1">
	                <nav class="uk-navbar-container uk-position-relative uk-navbar-left" uk-navbar style="min-height: 80px">
	                    <div class="uk-navbar-left">
		                  	<a uk-scroll="{offset:130}" href="#home">
		                    <img style="position:absolute; top:7px; left:20px; width:195px" class="logo-img uk-visible@m" src="https://d3qwsxrru4xs4k.cloudfront.net/melon_logo2.png" width="80"/>
		                    <img style="position:absolute; top:10px; width:170px" class="logo-img uk-hidden@m" src="https://d3qwsxrru4xs4k.cloudfront.net/melon_logo2.png" width="80"/></a>
	                    </div>

	                    <div class="uk-navbar-center">
		                    <ul class="uk-navbar-nav uk-visible@l uk-float-right">
				              <li><a uk-scroll="{offset:130}" href="#speakers">{{{__ "menu_speakers"}}}</a></li>
				              <li><a uk-scroll="{offset:130}" href="#industryday">{{{__ "menu_industry"}}}</a></li>
				              <li><a uk-scroll="{offset:130}" href="#tickets">{{{__ "menu_tickets"}}}</a></li>
				              <li><a uk-scroll="{offset:130}" href="#news">{{{__ "menu_news"}}}</a></li>
				              <li><a uk-scroll="{offset:130}" href="#contact">{{{__ "menu_fan_day"}}}</a></li>
		                    </ul>
	                    </div>

	                    <div class="uk-navbar-right">
		                    <div class="uk-navbar-item">
		                        <span class="translations uk-visible@m">
			                   	  <a class="navbar-translate-text" href="/en">En</a>
			                   	  <a class="navbar-translate-text" href="/zh">简</a>
				          		  <a class="navbar-translate-text" href="/hk">繁</a>
				          		</span>
				          		<span class="translations-small uk-hidden@m">
			                   	  <a class="navbar-translate-text" href="/en">En</a>
			                   	  <a class="navbar-translate-text" href="/zh">简</a>
				          		  <a class="navbar-translate-text" href="/hk">繁</a>
				          		</span>
		                    </div>
		          		</div>
	                <a class="uk-navbar-toggle uk-navbar-right uk-hidden@l" uk-navbar-toggle-icon uk-toggle href="#mobile-nav"></a>
				    <div id="mobile-nav" uk-offcanvas="flip:true">
					    <div class="uk-offcanvas-bar uk-section">
					        <ul class="uk-nav uk-nav-default" uk-nav>
				              <li><a class="canvas-close" uk-scroll="{offset:130}" href="#speakers">{{{__ "menu_speakers"}}}</a></li>
				              <li><a class="canvas-close" uk-scroll="{offset:130}" href="#industryday">{{{__ "menu_industry"}}}</a></li>
				              <li><a class="canvas-close" uk-scroll="{offset:130}" href="#tickets">{{{__ "menu_tickets"}}}</a></li>
				              <li><a class="canvas-close" uk-scroll="{offset:130}" href="#news">{{{__ "menu_news"}}}</a></li>
							  <li><a class="canvas-close" uk-scroll="{offset:130}" href="#contact">{{{__ "menu_fan_day"}}}</a></li>
					        </ul>
					    </div>
					</div>
	                </nav>
	            </div>
	        </div>
	    </div>
	</div>
</header>


<section>
	<div class="slideshow-container">
	  <div class="mySlides fade">
	    <div class="numbertext">
		    <div class="uk-visible@m">{{{__ "industryTagline"}}}
		    </div>
	    </div>
    	<div class="numbertext-small uk-hidden@m">
	    	{{{__ "industryTagline"}}}
	    </div>
	    <img src="https://s3-ap-southeast-1.amazonaws.com/melonhk/melon1.jpg" class="uk-responsive-height" style="width:100%" />
		<div class="datetext uk-visible@m">
			{{{__ "industry_date"}}}<br>
			{{{__ "hong_kong"}}}</p>
		</div>
	  </div>

	  <div class="mySlides fade">
	    <div class="numbertext">
		    <div class="uk-visible@m">
		    	{{{__ "fanTagline"}}}
		    </div>
		</div>
		<div class="numbertext-small uk-hidden@m">
		    {{{__ "fanTagline"}}}
		</div>

	    <img src="https://s3-ap-southeast-1.amazonaws.com/melonhk/melon2.jpg" class="uk-responsive-height" style="width:100%" />
		<div class="datetext uk-visible@m">
			{{{__ "fan_date"}}}<br>
			{{{__ "hong_kong"}}}</p>
		</div>
	  </div>

	  <div class="mySlides fade">
	    <div class="quotetext">
			<div class="uk-overlay uk-flex uk-flex-center uk-flex-middle uk-text-center uk-visible@m">
				<div class="uk-margin">
					<p class="slider-text banner-tagline-cursive-text">
					{{{__ "paulKrugmanQuote"}}}<br>
					<br>
					- Paul Krugman</p>
				</div>
			</div>
	    </div>
		<div style="padding:0" class="uk-overlay uk-flex uk-flex-center uk-flex-middle uk-text-center uk-hidden@m">
			<div class="uk-margin tagline-holder-small-screen">
				<p class="numbertext-small">
				<br>
				{{{__ "paulKrugmanQuote"}}}<br>
				<br>
				- Paul Krugman</p>
			</div>
		</div>
	    <img src="https://s3-ap-southeast-1.amazonaws.com/melonhk/melon3.jpg" class="uk-responsive-height" style="width:100%" />
	  </div>

	  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
	  <a class="next" onclick="plusSlides(1)">&#10095;</a>

	<div class="mouse-icon uk-visible@m">
		<div class="scroll"></div>
	</div>

	</div>
</section>

<!-- <section id="section1">
	<div class="uk-section-muted">
		<div class="uk-width-1-1@s uk-width-1-1@m uk-large-1-1 uk-width-xl-1-1">
			<div class="uk-panel">
				<div class="uk-slidenav-position uk-position-relative" data-uk-slideshow="{autoplay:true,autoplayInterval:9000}">

					<ul class="rslides">

						<li class="uk-active uk-responsive-height">
							<img src="https://s3-ap-southeast-1.amazonaws.com/melonhk/banner1_melonhk.jpg">

							<div class="uk-overlay uk-flex uk-flex-left uk-flex-top uk-text-left uk-hidden@s">
								<div class="uk-margin">
									<p class="slider-text-first"><br>
									<br>
									Melon Industry Day will bring together Asia's best Science Fiction writers, filmmakers, game developers, technologists and investors.
									<br>
									<br>
								</div>
							</div>

							<div class="uk-overlay uk-flex uk-flex-right uk-flex-bottom uk-text-right uk-hidden@s">
								<div class="uk-margin">
									<p class="slider-text-first">
									<br>
									{{{__ "industry_date"}}}<br>
									{{{__ "hong_kong"}}}</p>
								</div>
							</div>

							<div class="uk-overlay uk-flex uk-flex-center uk-flex-middle uk-text-center uk-hidden@m uk-hidden@l">
								<div class="uk-margin tagline-holder">
									<img src="https://d3qwsxrru4xs4k.cloudfront.net/melon_logo2.png" class="uk-hidden@l melon-logo">
									<p class="slider-text-small">
									<br>
									{{{__ "original_tagline"}}}<br>
									<br>
									{{{__ "industry_date"}}}<br>
									{{{__ "hong_kong"}}}</p>
								</div>
							</div>
						</li>

						<li class="uk-responsive-height">
							<img src="https://s3-ap-southeast-1.amazonaws.com/melonhk/banner2_melonhk.jpg">

							<div class="uk-overlay uk-flex uk-flex-left uk-flex-top uk-text-left uk-hidden@s">
								<div class="uk-margin">
									<p class="slider-text-first"><br>
									<br>
									Melon Fan Day will bring together the best Sci-Fi Fans with Asia's Best Authors and Fiction Writers.
									<br>
									<br>
									<br>
								</div>
							</div>

							<div class="uk-overlay uk-flex uk-flex-right uk-flex-bottom uk-text-right uk-hidden@s">
								<div class="uk-margin">
									<p class="slider-text-first">
									<br>
									{{{__ "fan_date"}}}<br>
									{{{__ "hong_kong"}}}</p>
								</div>
							</div>

							<div class="uk-overlay uk-flex uk-flex-center uk-flex-middle uk-text-center uk-hidden@m uk-hidden@l">
								<div class="uk-margin tagline-holder">
									<img src="https://d3qwsxrru4xs4k.cloudfront.net/melon_logo2.png" class="uk-hidden@l melon-logo">
									<p class="slider-text-small">
									<br>
									{{{__ "original_tagline"}}}<br>
									<br>
									{{{__ "fan_date"}}}<br>
									{{{__ "hong_kong"}}}</p>
								</div>
							</div>
						</li>

						<li>
							<img src="https://s3-ap-southeast-1.amazonaws.com/melonhk/banner3_melonhk.jpg">

							<div class="uk-overlay uk-flex uk-flex-center uk-flex-middle uk-text-center uk-hidden@s">
								<div class="uk-margin">
									<p class="slider-text banner-tagline-cursive-text">
									{{{__ "paulKrugmanQuote"}}}<br>
									<br>
									- Paul Krugman</p>
								</div>
							</div>

							<div class="uk-overlay uk-flex uk-flex-center uk-flex-middle uk-text-center uk-hidden@m uk-hidden@l">
								<div class="uk-margin tagline-holder-small-screen">
									<img src="https://d3qwsxrru4xs4k.cloudfront.net/melon_logo2.png" class="uk-hidden@l melon-logo">
									<p class="slider-text-small banner-tagline-cursive-text-small">
									<br>
									{{{__ "paulKrugmanQuote"}}}<br>
									<br>
									- Paul Krugman</p>
								</div>
							</div>
						</li>
					</ul>
					<div class="uk-inline uk-visible-toggle">
						<a class="uk-light uk-position-center-left" uk-slidenav='previous' data-uk-slideshow-item="previous" href=""></a>
						<a class="uk-light uk-position-center-right" uk-slidenav='next' data-uk-slideshow-item="next" href=""></a>
					</div>
					<div class="uk-overlay uk-position-bottom">
					</div>
				</div>
			</div>
		</div>

		<div class="mouse-icon hidden-xs uk-hidden@s">
			<div class="scroll"></div>
		</div>
	</div>
</section> -->

<div style="height: 50px"></div>

<section id="melon" class="uk-flex-center uk-text-center uk-margin-large-bottom">
	<h1 class="uk-text-center uk-padding-large-top uk-text-center uk-visible@m">
<!-- 		<div class="uk-margin-large-top" style="font-size: 2em; font-weight: bold; line-height: 1em;">{{{__ "melon"}}}</div>
		<div style="font-size: 1.5em; line-height: 1em;">{{{__ "dictionary"}}}</div>
		<i>{{{__ "noun"}}}</i><br> -->
		<div style="font-size: 1em; line-height: 1em; max-width: 75vw; margin-left: 12.5vw">{{{__ "description"}}}</div>
	</h1>

	<h1 class="uk-text-center uk-padding-large-top uk-text-center uk-hidden@m">
<!-- 		<div class="uk-margin-large-top" style="font-size: 2rem; font-weight: bold; line-height: 2rem;">{{{__ "melon"}}}</div>
		<div style="font-size: 1.5rem; line-height: 1.5rem;">{{{__ "dictionary"}}}</div>
		<div style="font-size: 1.5rem; line-height: 1.5rem;"><i>{{{__ "noun"}}}</i></div> -->
		<div style="font-size: 1rem; line-height: 1.2rem; max-width: 75vw; margin-left: 12.5vw">{{{__ "description"}}}</div>
	</h1>
</section>

<hr>

<section id="speakers" class="uk-margin-large-top">
	<div class="uk-container uk-text-center" style="color:#041b75">
		<div class="uk-margin-large-bottom great-title">{{{__ "speakers"}}}</div>
		<div class="uk-grid uk-grid-small">

			<div class="uk-width-1-2@s uk-width-1-4@m flex-center uk-margin-large-bottom">
				<a href="#bio-speaker1" uk-toggle><img src="{{{__ 'speaker1_picture'}}}"></a>
				<div class="uk-margin-small-top"><b>{{{__ "speaker1_name"}}}</b>
			        <br><span style="font-style: italic;">{{{__ "speaker1_title"}}}</span>
			        <br>{{{__ "speaker1_country"}}}
				</div>
			</div>

			<div id="bio-speaker1" uk-modal="center: true">
			     <div class="uk-modal-dialog uk-modal-body">
		  			<button class="uk-modal-close-default" type="button" uk-close></button>
			  		<div class="uk-modal-header">
			            <h2 class="uk-modal-title uk-text-center">	<span style="font-size:24px; color: orange"><b>{{{__ "speaker1_name"}}}</b></span></h2>
			        </div>
			        <div class="uk-modal-body">
			        	<div class="uk-text-center"><img src="{{{__ 'speaker1_picture'}}}"/></div>
			        	<div class="uk-text-center uk-margin-small-top">
				        	{{{__ "speaker1_title"}}}, {{{__ "speaker1_country"}}}
				        </div>
					    <div class="uk-margin-small-top">    
					        <p class="uk-hidden@s">
					        	{{{__ "speaker1_bio"}}}
					 		</p>
					        <p class="block-text uk-visible@l">
					        	{{{__ "speaker1_bio"}}}
					        </p>
			        	</div>
			 		</div>
			    </div>
			</div>

			<div class="uk-width-1-2@s uk-width-1-4@m flex-center uk-margin-large-bottom">
				<a href="#bio-speaker2" uk-toggle><img src="{{{__ 'speaker2_picture'}}}"></a>
				<div class="uk-margin-small-top"><b>{{{__ "speaker2_name"}}}</b>
			        <br><span style="font-style: italic;">{{{__ "speaker2_title"}}}</span>
			        <br>{{{__ "speaker2_country"}}}
				</div>
			</div>

			<div id="bio-speaker2" uk-modal="center: true">
			     <div class="uk-modal-dialog uk-modal-body">
		  			<button class="uk-modal-close-default" type="button" uk-close></button>
			  		<div class="uk-modal-header">
			            <h2 class="uk-modal-title uk-text-center">	<span style="font-size:24px; color: orange"><b>{{{__ "speaker2_name"}}}</b></span></h2>
			        </div>
			        <div class="uk-modal-body">
			        	<div class="uk-text-center"><img src="{{{__ 'speaker2_picture'}}}"/></div>
			        	<div class="uk-text-center uk-margin-small-top">
				        	{{{__ "speaker2_title"}}}, {{{__ "speaker2_country"}}}
				        </div>
					    <div class="uk-margin-small-top">    
					        <p class="uk-hidden@s">
					        	{{{__ "speaker2_bio"}}}
					 		</p>
					        <p class="block-text uk-visible@l">
					        	{{{__ "speaker2_bio"}}}
					        </p>
			        	</div>
			 		</div>
			    </div>
			</div>

			<div class="uk-width-1-2@s uk-width-1-4@m flex-center uk-margin-large-bottom">
				<a href="#bio-speaker3" uk-toggle><img src="{{{__ 'speaker3_picture'}}}"></a>
				<div class="uk-margin-small-top"><b>{{{__ "speaker3_name"}}}</b>
			        <br><span style="font-style: italic;">{{{__ "speaker3_title"}}}</span>
			        <br>{{{__ "speaker3_country"}}}
				</div>
			</div>

			<div id="bio-speaker3" uk-modal="center: true">
			     <div class="uk-modal-dialog uk-modal-body">
		  			<button class="uk-modal-close-default" type="button" uk-close></button>
			  		<div class="uk-modal-header">
			            <h2 class="uk-modal-title uk-text-center">	<span style="font-size:24px; color: orange"><b>{{{__ "speaker3_name"}}}</b></span></h2>
			        </div>
			        <div class="uk-modal-body">
			        	<div class="uk-text-center"><img src="{{{__ 'speaker3_picture'}}}"/></div>
			        	<div class="uk-text-center uk-margin-small-top">
				        	{{{__ "speaker3_title"}}}, {{{__ "speaker3_country"}}}
				        </div>
					    <div class="uk-margin-small-top">    
					        <p class="uk-hidden@s">
					        	{{{__ "speaker3_bio"}}}
					 		</p>
					        <p class="block-text uk-visible@l">
					        	{{{__ "speaker3_bio"}}}
					        </p>
			        	</div>
			 		</div>
			    </div>
			</div>

			<div class="uk-width-1-2@s uk-width-1-4@m flex-center uk-margin-large-bottom">
				<a href="#bio-speaker4" uk-toggle><img src="{{{__ 'speaker4_picture'}}}"></a>
				<div class="uk-margin-small-top"><b>{{{__ "speaker4_name"}}}</b>
			        <br><span style="font-style: italic;">{{{__ "speaker4_title"}}}</span>
			        <br>{{{__ "speaker4_country"}}}
				</div>
			</div>

			<div id="bio-speaker4" uk-modal="center: true">
			     <div class="uk-modal-dialog uk-modal-body">
		  			<button class="uk-modal-close-default" type="button" uk-close></button>
			  		<div class="uk-modal-header">
			            <h2 class="uk-modal-title uk-text-center">	<span style="font-size:24px; color: orange"><b>{{{__ "speaker4_name"}}}</b></span></h2>
			        </div>
			        <div class="uk-modal-body">
			        	<div class="uk-text-center"><img src="{{{__ 'speaker4_picture'}}}"/></div>
			        	<div class="uk-text-center uk-margin-small-top">
				        	{{{__ "speaker4_title"}}}, {{{__ "speaker4_country"}}}
				        </div>
					    <div class="uk-margin-small-top">    
					        <p class="uk-hidden@s">
					        	{{{__ "speaker4_bio"}}}
					 		</p>
					        <p class="block-text uk-visible@l">
					        	{{{__ "speaker4_bio"}}}
					        </p>
			        	</div>
			 		</div>
			    </div>
			</div>

			<div class="uk-width-1-2@s uk-width-1-4@m flex-center uk-margin-large-bottom">
				<a href="#bio-speaker5" uk-toggle><img src="{{{__ 'speaker5_picture'}}}"></a>
				<div class="uk-margin-small-top"><b>{{{__ "speaker5_name"}}}</b>
			        <br><span style="font-style: italic;">{{{__ "speaker5_title"}}}</span>
			        <br>{{{__ "speaker5_country"}}}
				</div>
			</div>

			<div id="bio-speaker5" uk-modal="center: true">
			     <div class="uk-modal-dialog uk-modal-body">
		  			<button class="uk-modal-close-default" type="button" uk-close></button>
			  		<div class="uk-modal-header">
			            <h2 class="uk-modal-title uk-text-center">	<span style="font-size:24px; color: orange"><b>{{{__ "speaker5_name"}}}</b></span></h2>
			        </div>
			        <div class="uk-modal-body">
			        	<div class="uk-text-center"><img src="{{{__ 'speaker5_picture'}}}"/></div>
			        	<div class="uk-text-center uk-margin-small-top">
				        	{{{__ "speaker5_title"}}}, {{{__ "speaker5_country"}}}
				        </div>
					    <div class="uk-margin-small-top">    
					        <p class="uk-hidden@s">
					        	{{{__ "speaker5_bio"}}}
					 		</p>
					        <p class="block-text uk-visible@l">
					        	{{{__ "speaker5_bio"}}}
					        </p>
			        	</div>
			 		</div>
			    </div>
			</div>

			<div class="uk-width-1-2@s uk-width-1-4@m flex-center uk-margin-large-bottom">
				<a href="#bio-speaker6" uk-toggle><img src="{{{__ 'speaker6_picture'}}}"></a>
				<div class="uk-margin-small-top"><b>{{{__ "speaker6_name"}}}</b>
			        <br><span style="font-style: italic;">{{{__ "speaker6_title"}}}</span>
			        <br>{{{__ "speaker6_country"}}}
				</div>
			</div>

			<div id="bio-speaker6" uk-modal="center: true">
			     <div class="uk-modal-dialog uk-modal-body">
		  			<button class="uk-modal-close-default" type="button" uk-close></button>
			  		<div class="uk-modal-header">
			            <h2 class="uk-modal-title uk-text-center">	<span style="font-size:24px; color: orange"><b>{{{__ "speaker6_name"}}}</b></span></h2>
			        </div>
			        <div class="uk-modal-body">
			        	<div class="uk-text-center"><img src="{{{__ 'speaker6_picture'}}}"/></div>
			        	<div class="uk-text-center uk-margin-small-top">
				        	{{{__ "speaker6_title"}}}, {{{__ "speaker6_country"}}}
				        </div>
					    <div class="uk-margin-small-top">    
					        <p class="uk-hidden@s">
					        	{{{__ "speaker6_bio"}}}
					 		</p>
					        <p class="block-text uk-visible@l">
					        	{{{__ "speaker6_bio"}}}
					        </p>
			        	</div>
			 		</div>
			    </div>
			</div>

			<div class="uk-width-1-2@s uk-width-1-4@m flex-center uk-margin-large-bottom">
				<a href="#bio-speaker7" uk-toggle><img src="{{{__ 'speaker7_picture'}}}"></a>
				<div class="uk-margin-small-top"><b>{{{__ "speaker7_name"}}}</b>
			        <br><span style="font-style: italic;">{{{__ "speaker7_title"}}}</span>
			        <br>{{{__ "speaker7_country"}}}
				</div>
			</div>

			<div id="bio-speaker7" uk-modal="center: true">
			     <div class="uk-modal-dialog uk-modal-body">
		  			<button class="uk-modal-close-default" type="button" uk-close></button>
			  		<div class="uk-modal-header">
			            <h2 class="uk-modal-title uk-text-center">	<span style="font-size:24px; color: orange"><b>{{{__ "speaker7_name"}}}</b></span></h2>
			        </div>
			        <div class="uk-modal-body">
			        	<div class="uk-text-center"><img src="{{{__ 'speaker7_picture'}}}"/></div>
			        	<div class="uk-text-center uk-margin-small-top">
				        	{{{__ "speaker7_title"}}}, {{{__ "speaker7_country"}}}
				        </div>
					    <div class="uk-margin-small-top">    
					        <p class="uk-hidden@s">
					        	{{{__ "speaker7_bio"}}}
					 		</p>
					        <p class="block-text uk-visible@l">
					        	{{{__ "speaker7_bio"}}}
					        </p>
			        	</div>
			 		</div>
			    </div>
			</div>

			<div class="uk-width-1-2@s uk-width-1-4@m flex-center uk-margin-large-bottom">
				<a href="#bio-speaker8" uk-toggle><img src="{{{__ 'speaker8_picture'}}}"></a>
				<div class="uk-margin-small-top"><b>{{{__ "speaker8_name"}}}</b>
			        <br><span style="font-style: italic;">{{{__ "speaker8_title"}}}</span>
			        <br>{{{__ "speaker8_country"}}}
				</div>
			</div>

			<div id="bio-speaker8" uk-modal="center: true">
			     <div class="uk-modal-dialog uk-modal-body">
		  			<button class="uk-modal-close-default" type="button" uk-close></button>
			  		<div class="uk-modal-header">
			            <h2 class="uk-modal-title uk-text-center">	<span style="font-size:24px; color: orange"><b>{{{__ "speaker8_name"}}}</b></span></h2>
			        </div>
			        <div class="uk-modal-body">
			        	<div class="uk-text-center"><img src="{{{__ 'speaker8_picture'}}}"/></div>
			        	<div class="uk-text-center uk-margin-small-top">
				        	{{{__ "speaker8_title"}}}, {{{__ "speaker8_country"}}}
				        </div>
					    <div class="uk-margin-small-top">    
					        <p class="uk-hidden@s">
					        	{{{__ "speaker8_bio"}}}
					 		</p>
					        <p class="block-text uk-visible@l">
					        	{{{__ "speaker8_bio"}}}
					        </p>
			        	</div>
			 		</div>
			    </div>
			</div>

			<div class="uk-width-1-2@s uk-width-1-4@m flex-center uk-margin-large-bottom">
				<a href="#bio-speaker9" uk-toggle><img src="{{{__ 'speaker9_picture'}}}"></a>
				<div class="uk-margin-small-top"><b>{{{__ "speaker9_name"}}}</b>
			        <br><span style="font-style: italic;">{{{__ "speaker9_title"}}}</span>
			        <br>{{{__ "speaker9_country"}}}
				</div>
			</div>

			<div id="bio-speaker9" uk-modal="center: true">
			     <div class="uk-modal-dialog uk-modal-body">
		  			<button class="uk-modal-close-default" type="button" uk-close></button>
			  		<div class="uk-modal-header">
			            <h2 class="uk-modal-title uk-text-center">	<span style="font-size:24px; color: orange"><b>{{{__ "speaker9_name"}}}</b></span></h2>
			        </div>
			        <div class="uk-modal-body">
			        	<div class="uk-text-center"><img src="{{{__ 'speaker9_picture'}}}"/></div>
			        	<div class="uk-text-center uk-margin-small-top">
				        	{{{__ "speaker9_title"}}}, {{{__ "speaker9_country"}}}
				        </div>
					    <div class="uk-margin-small-top">    
					        <p class="uk-hidden@s">
					        	{{{__ "speaker9_bio"}}}
					 		</p>
					        <p class="block-text uk-visible@l">
					        	{{{__ "speaker9_bio"}}}
					        </p>
			        	</div>
			 		</div>
			    </div>
			</div>

			<div class="uk-width-1-2@s uk-width-1-4@m flex-center uk-margin-large-bottom">
				<a href="#bio-speaker10" uk-toggle><img src="{{{__ 'speaker10_picture'}}}"></a>
				<div class="uk-margin-small-top"><b>{{{__ "speaker10_name"}}}</b>
			        <br><span style="font-style: italic;">{{{__ "speaker10_title"}}}</span>
			        <br>{{{__ "speaker10_country"}}}
				</div>
			</div>

			<div id="bio-speaker10" uk-modal="center: true">
			     <div class="uk-modal-dialog uk-modal-body">
		  			<button class="uk-modal-close-default" type="button" uk-close></button>
			  		<div class="uk-modal-header">
			            <h2 class="uk-modal-title uk-text-center">	<span style="font-size:24px; color: orange"><b>{{{__ "speaker10_name"}}}</b></span></h2>
			        </div>
			        <div class="uk-modal-body">
			        	<div class="uk-text-center"><img src="{{{__ 'speaker10_picture'}}}"/></div>
			        	<div class="uk-text-center uk-margin-small-top">
				        	{{{__ "speaker10_title"}}}, {{{__ "speaker10_country"}}}
				        </div>
					    <div class="uk-margin-small-top">    
					        <p class="uk-hidden@s">
					        	{{{__ "speaker10_bio"}}}
					 		</p>
					        <p class="block-text uk-visible@l">
					        	{{{__ "speaker10_bio"}}}
					        </p>
			        	</div>
			 		</div>
			    </div>
			</div>

<!-- 			<div class="uk-width-1-2@s uk-width-1-4@m flex-center uk-margin-large-bottom">
				<a href="#bio-speaker11" uk-toggle><img src="{{{__ 'speaker11_picture'}}}"></a>
				<div class="uk-margin-small-top"><b>{{{__ "speaker11_name"}}}</b>
			        <br><span style="font-style: italic;">{{{__ "speaker11_title"}}}</span>
			        <br>{{{__ "speaker11_country"}}}
				</div>
			</div>

			<div id="bio-speaker11" uk-modal="center: true">
			     <div class="uk-modal-dialog uk-modal-body">
		  			<button class="uk-modal-close-default" type="button" uk-close></button>
			  		<div class="uk-modal-header">
			            <h2 class="uk-modal-title uk-text-center">	<span style="font-size:24px; color: orange"><b>{{{__ "speaker11_name"}}}</b></span></h2>
			        </div>
			        <div class="uk-modal-body">
			        	<div class="uk-text-center"><img src="{{{__ 'speaker11_picture'}}}"/></div>
			        	<div class="uk-text-center uk-margin-small-top">
				        	{{{__ "speaker11_title"}}}, {{{__ "speaker11_country"}}}
				        </div>
					    <div class="uk-margin-small-top">    
					        <p class="uk-hidden@s">
					        	{{{__ "speaker11_bio"}}}
					 		</p>
					        <p class="block-text uk-visible@l">
					        	{{{__ "speaker11_bio"}}}
					        </p>
			        	</div>
			 		</div>
			    </div>
			</div> -->

			<div class="uk-width-1-2@s uk-width-1-4@m flex-center uk-margin-large-bottom">
				<a href="#bio-speaker12" uk-toggle><img src="{{{__ 'speaker12_picture'}}}"></a>
				<div class="uk-margin-small-top"><b>{{{__ "speaker12_name"}}}</b>
			        <br><span style="font-style: italic;">{{{__ "speaker12_title"}}}</span>
			        <br>{{{__ "speaker12_country"}}}
				</div>
			</div>

			<div id="bio-speaker12" uk-modal="center: true">
			     <div class="uk-modal-dialog uk-modal-body">
		  			<button class="uk-modal-close-default" type="button" uk-close></button>
			  		<div class="uk-modal-header">
			            <h2 class="uk-modal-title uk-text-center">	<span style="font-size:24px; color: orange"><b>{{{__ "speaker12_name"}}}</b></span></h2>
			        </div>
			        <div class="uk-modal-body">
			        	<div class="uk-text-center"><img src="{{{__ 'speaker12_picture'}}}"/></div>
			        	<div class="uk-text-center uk-margin-small-top">
				        	{{{__ "speaker12_title"}}}, {{{__ "speaker12_country"}}}
				        </div>
					    <div class="uk-margin-small-top">    
					        <p class="uk-hidden@s">
					        	{{{__ "speaker12_bio"}}}
					 		</p>
					        <p class="block-text uk-visible@l">
					        	{{{__ "speaker12_bio"}}}
					        </p>
			        	</div>
			 		</div>
			    </div>
			</div>

			<div class="uk-width-1-2@s uk-width-1-4@m flex-center uk-margin-large-bottom">
				<a href="#bio-speaker13" uk-toggle><img src="{{{__ 'speaker13_picture'}}}"></a>
				<div class="uk-margin-small-top"><b>{{{__ "speaker13_name"}}}</b>
			        <br><span style="font-style: italic;">{{{__ "speaker13_title"}}}</span>
			        <br>{{{__ "speaker13_country"}}}
				</div>
			</div>

			<div id="bio-speaker13" uk-modal="center: true">
			     <div class="uk-modal-dialog uk-modal-body">
		  			<button class="uk-modal-close-default" type="button" uk-close></button>
			  		<div class="uk-modal-header">
			            <h2 class="uk-modal-title uk-text-center">	<span style="font-size:24px; color: orange"><b>{{{__ "speaker13_name"}}}</b></span></h2>
			        </div>
			        <div class="uk-modal-body">
			        	<div class="uk-text-center"><img src="{{{__ 'speaker13_picture'}}}"/></div>
			        	<div class="uk-text-center uk-margin-small-top">
				        	{{{__ "speaker13_title"}}}, {{{__ "speaker13_country"}}}
				        </div>
					    <div class="uk-margin-small-top">    
					        <p class="uk-hidden@s">
					        	{{{__ "speaker13_bio"}}}
					 		</p>
					        <p class="block-text uk-visible@l">
					        	{{{__ "speaker13_bio"}}}
					        </p>
			        	</div>
			 		</div>
			    </div>
			</div>

			<div class="uk-width-1-2@s uk-width-1-4@m flex-center uk-margin-large-bottom">
				<a href="#bio-speaker14" uk-toggle><img src="{{{__ 'speaker14_picture'}}}"></a>
				<div class="uk-margin-small-top"><b>{{{__ "speaker14_name"}}}</b>
			        <br><span style="font-style: italic;">{{{__ "speaker14_title"}}}</span>
			        <br>{{{__ "speaker14_country"}}}
				</div>
			</div>

			<div id="bio-speaker14" uk-modal="center: true">
			     <div class="uk-modal-dialog uk-modal-body">
		  			<button class="uk-modal-close-default" type="button" uk-close></button>
			  		<div class="uk-modal-header">
			            <h2 class="uk-modal-title uk-text-center">	<span style="font-size:24px; color: orange"><b>{{{__ "speaker14_name"}}}</b></span></h2>
			        </div>
			        <div class="uk-modal-body">
			        	<div class="uk-text-center"><img src="{{{__ 'speaker14_picture'}}}"/></div>
			        	<div class="uk-text-center uk-margin-small-top">
				        	{{{__ "speaker14_title"}}}, {{{__ "speaker14_country"}}}
				        </div>
					    <div class="uk-margin-small-top">    
					        <p class="uk-hidden@s">
					        	{{{__ "speaker14_bio"}}}
					 		</p>
					        <p class="block-text uk-visible@l">
					        	{{{__ "speaker14_bio"}}}
					        </p>
			        	</div>
			 		</div>
			    </div>
			</div>

			<div class="uk-width-1-2@s uk-width-1-4@m flex-center uk-margin-large-bottom">
				<a href="#bio-speaker15" uk-toggle><img src="{{{__ 'speaker15_picture'}}}"></a>
				<div class="uk-margin-small-top"><b>{{{__ "speaker15_name"}}}</b>
			        <br><span style="font-style: italic;">{{{__ "speaker15_title"}}}</span>
			        <br>{{{__ "speaker15_country"}}}
				</div>
			</div>

			<div id="bio-speaker15" uk-modal="center: true">
			     <div class="uk-modal-dialog uk-modal-body">
		  			<button class="uk-modal-close-default" type="button" uk-close></button>
			  		<div class="uk-modal-header">
			            <h2 class="uk-modal-title uk-text-center">	<span style="font-size:24px; color: orange"><b>{{{__ "speaker15_name"}}}</b></span></h2>
			        </div>
			        <div class="uk-modal-body">
			        	<div class="uk-text-center"><img src="{{{__ 'speaker15_picture'}}}"/></div>
			        	<div class="uk-text-center uk-margin-small-top">
				        	{{{__ "speaker15_title"}}}, {{{__ "speaker15_country"}}}
				        </div>
					    <div class="uk-margin-small-top">    
					        <p class="uk-hidden@s">
					        	{{{__ "speaker15_bio"}}}
					 		</p>
					        <p class="block-text uk-visible@l">
					        	{{{__ "speaker15_bio"}}}
					        </p>
			        	</div>
			 		</div>
			    </div>
			</div>

<!-- 			<div class="uk-width-1-2@s uk-width-1-4@m flex-center uk-margin-large-bottom">
				<a href="#bio-speaker16" uk-toggle><img src="{{{__ 'speaker16_picture'}}}"></a>
				<div class="uk-margin-small-top"><b>{{{__ "speaker16_name"}}}</b>
			        <br><span style="font-style: italic;">{{{__ "speaker16_title"}}}</span>
			        <br>{{{__ "speaker16_country"}}}
				</div>
			</div>

			<div id="bio-speaker16" uk-modal="center: true">
			     <div class="uk-modal-dialog uk-modal-body">
		  			<button class="uk-modal-close-default" type="button" uk-close></button>
			  		<div class="uk-modal-header">
			            <h2 class="uk-modal-title uk-text-center">	<span style="font-size:24px; color: orange"><b>{{{__ "speaker16_name"}}}</b></span></h2>
			        </div>
			        <div class="uk-modal-body">
			        	<div class="uk-text-center"><img src="{{{__ 'speaker16_picture'}}}"/></div>
			        	<div class="uk-text-center uk-margin-small-top">
				        	{{{__ "speaker16_title"}}}, {{{__ "speaker16_country"}}}
				        </div>
					    <div class="uk-margin-small-top">    
					        <p class="uk-hidden@s">
					        	{{{__ "speaker16_bio"}}}
					 		</p>
					        <p class="block-text uk-visible@l">
					        	{{{__ "speaker16_bio"}}}
					        </p>
			        	</div>
			 		</div>
			    </div>
			</div> -->

			<div class="uk-width-1-2@s uk-width-1-4@m flex-center uk-margin-large-bottom">
				<a href="#bio-speaker17" uk-toggle><img src="{{{__ 'speaker17_picture'}}}"></a>
				<div class="uk-margin-small-top"><b>{{{__ "speaker17_name"}}}</b>
			        <br><span style="font-style: italic;">{{{__ "speaker17_title"}}}</span>
			        <br>{{{__ "speaker17_country"}}}
				</div>
			</div>

			<div id="bio-speaker17" uk-modal="center: true">
			     <div class="uk-modal-dialog uk-modal-body">
		  			<button class="uk-modal-close-default" type="button" uk-close></button>
			  		<div class="uk-modal-header">
			            <h2 class="uk-modal-title uk-text-center">	<span style="font-size:24px; color: orange"><b>{{{__ "speaker17_name"}}}</b></span></h2>
			        </div>
			        <div class="uk-modal-body">
			        	<div class="uk-text-center"><img src="{{{__ 'speaker17_picture'}}}"/></div>
			        	<div class="uk-text-center uk-margin-small-top">
				        	{{{__ "speaker17_title"}}}, {{{__ "speaker17_country"}}}
				        </div>
					    <div class="uk-margin-small-top">    
					        <p class="uk-hidden@s">
					        	{{{__ "speaker17_bio"}}}
					 		</p>
					        <p class="block-text uk-visible@l">
					        	{{{__ "speaker17_bio"}}}
					        </p>
			        	</div>
			 		</div>
			    </div>
			</div>



			<div class="uk-width-1-2@s uk-width-1-4@m flex-center uk-margin-large-bottom">
				<a href="#bio-speaker18" uk-toggle><img src="{{{__ 'speaker18_picture'}}}"></a>
				<div class="uk-margin-small-top"><b>{{{__ "speaker18_name"}}}</b>
			        <br><span style="font-style: italic;">{{{__ "speaker18_title"}}}</span>
			        <br>{{{__ "speaker18_country"}}}
				</div>
			</div>

			<div id="bio-speaker18" uk-modal="center: true">
			     <div class="uk-modal-dialog uk-modal-body">
		  			<button class="uk-modal-close-default" type="button" uk-close></button>
			  		<div class="uk-modal-header">
			            <h2 class="uk-modal-title uk-text-center">	<span style="font-size:24px; color: orange"><b>{{{__ "speaker18_name"}}}</b></span></h2>
			        </div>
			        <div class="uk-modal-body">
			        	<div class="uk-text-center"><img src="{{{__ 'speaker18_picture'}}}"/></div>
			        	<div class="uk-text-center uk-margin-small-top">
				        	{{{__ "speaker18_title"}}}, {{{__ "speaker18_country"}}}
				        </div>
					    <div class="uk-margin-small-top">    
					        <p class="uk-hidden@s">
					        	{{{__ "speaker18_bio"}}}
					 		</p>
					        <p class="block-text uk-visible@l">
					        	{{{__ "speaker18_bio"}}}
					        </p>
			        	</div>
			 		</div>
			    </div>
			</div>

		</div>
	</div>
</section>

<hr>

<section id="industryday" class="slant-top services-grid-box uk-section uk-position-relative uk-clearfix" >
	<div class="uk-container uk-text-center">
	<div class="uk-margin-large-bottom great-title">{{{__ "PROGRAM"}}}</div>
	
	<div class="uk-margin-large-bottom great-title">{{{__ "industryday"}}}</div>

	<h1 class="sub-section-header black uk-text-center uk-margin-large-bottom uk-padding-large-top event-sponsors-holder great-title">
		{{{__ "industryTagline"}}}
	</h1>

	<h3 class="sub-section-header black uk-text-center uk-margin-large-top uk-padding-large-top">
		{{{__ "event_program"}}}
	</h3>

<!-- 	<h3 class="sub-section-header black uk-text-center uk-margin-large-top uk-padding-large-top">
		{{{__ "event_program"}}}
	</h3> -->
<!-- 	<div class="uk-container">
		<div class="uk-grid uk-width-3-4 uk-margin-large-left" style="text-align: left">
			<div class="uk-width-1-3@m">
				<h3 class="uk-flex-top"><span style="font-size:1.5rem;">{{{__ "program_day1_time1"}}}</span></h3>
			</div>
			<div class="uk-width-2-3@m">
				<div class="uk-panel uk-width-1-1">
					<h3 class="uk-panel-title" style="font-size:1.5rem;">{{{__ "program_day1_time1_title"}}}</h3>
					<div class="uk-margin" style="font-size:1.5rem;">
						{{{__ "program_day1_time1_desc"}}} 
					</div>
				</div>
			</div>
			<div class="uk-width-1-3@m">
				<h3 class="uk-flex-top"><span style="font-size:1.5rem;">{{{__ "program_day1_time2"}}}</span></h3>
			</div>
			<div class="uk-width-2-3@m">
				<div class="uk-panel uk-width-1-1">
					<h3 class="uk-panel-title" style="font-size:1.5rem;">{{{__ "program_day1_time2_title"}}}</h3>
					<div class="uk-margin" style="font-size:1.5rem;">
						{{{__ "program_day1_time2_desc"}}} 
					</div>
				</div>
			</div>
			<div class="uk-width-1-3@m">
				<h3 class="uk-flex-top"><span style="font-size:1.5rem;">{{{__ "program_day1_time3"}}}</span></h3>
			</div>
			<div class="uk-width-2-3@m">
				<div class="uk-panel uk-width-1-1">
					<h3 class="uk-panel-title" style="font-size:1.5rem;">{{{__ "program_day1_time3_title"}}}</h3>
					<div class="uk-margin" style="font-size:1.5rem;">
						{{{__ "program_day1_time3_desc"}}} 
					</div>
				</div>
			</div>
			<div class="uk-width-1-3@m">
				<h3 class="uk-flex-top"><span style="font-size:1.5rem;">{{{__ "program_day1_time4"}}}</span></h3>
			</div>
			<div class="uk-width-2-3@m">
				<div class="uk-panel uk-width-1-1">
					<h3 class="uk-panel-title" style="font-size:1.5rem;">{{{__ "program_day1_time4_title"}}}</h3>
					<div class="uk-margin" style="font-size:1.5rem;">
						{{{__ "program_day1_time4_desc"}}} 
					</div>
				</div>
			</div>
			<div class="uk-width-1-3@m">
				<h3 class="uk-flex-top"><span style="font-size:1.5rem;">{{{__ "program_day1_time5"}}}</span></h3>
			</div>
			<div class="uk-width-2-3@m">
				<div class="uk-panel uk-width-1-1">
					<h3 class="uk-panel-title" style="font-size:1.5rem;">{{{__ "program_day1_time5_title"}}}</h3>
					<div class="uk-margin" style="font-size:1.5rem;">
						{{{__ "program_day1_time5_desc"}}} 
					</div>
				</div>
			</div>
			<div class="uk-width-1-3@m">
				<h3 class="uk-flex-top"><span style="font-size:1.5rem;">{{{__ "program_day1_time6"}}}</span></h3>
			</div>
			<div class="uk-width-2-3@m">
				<div class="uk-panel uk-width-1-1">
					<h3 class="uk-panel-title" style="font-size:1.5rem;">{{{__ "program_day1_time6_title"}}}</h3>
					<div class="uk-margin" style="font-size:1.5rem;">
						{{{__ "program_day1_time6_desc"}}} 
					</div>
				</div>
			</div>
			<div class="uk-width-1-3@m">
				<h3 class="uk-flex-top"><span style="font-size:1.5rem;">{{{__ "program_day1_time7"}}}</span></h3>
			</div>
			<div class="uk-width-2-3@m">
				<div class="uk-panel uk-width-1-1">
					<h3 class="uk-panel-title" style="font-size:1.5rem;">{{{__ "program_day1_time7_title"}}}</h3>
					<div class="uk-margin" style="font-size:1.5rem;">
						{{{__ "program_day1_time7_desc"}}} 
					</div>
				</div>
			</div>
			<div class="uk-width-1-3@m">
				<h3 class="uk-flex-top"><span style="font-size:1.5rem;">{{{__ "program_day1_time8"}}}</span></h3>
			</div>
			<div class="uk-width-2-3@m">
				<div class="uk-panel uk-width-1-1">
					<h3 class="uk-panel-title" style="font-size:1.5rem;">{{{__ "program_day1_time8_title"}}}</h3>
					<div class="uk-margin" style="font-size:1.5rem;">
						{{{__ "program_day1_time8_desc"}}} 
					</div>
				</div>
			</div>
			<div class="uk-width-1-3@m">
				<h3 class="uk-flex-top"><span style="font-size:1.5rem;">{{{__ "program_day1_time9"}}}</span></h3>
			</div>
			<div class="uk-width-2-3@m">
				<div class="uk-panel uk-width-1-1">
					<h3 class="uk-panel-title" style="font-size:1.5rem;">{{{__ "program_day1_time9_title"}}}</h3>
					<div class="uk-margin" style="font-size:1.5rem;">
						{{{__ "program_day1_time9_desc"}}} 
					</div>
				</div>
			</div>
			<div class="uk-width-1-3@m">
				<h3 class="uk-flex-top"><span style="font-size:1.5rem;">{{{__ "program_day1_time10"}}}</span></h3>
			</div>
			<div class="uk-width-2-3@m">
				<div class="uk-panel uk-width-1-1">
					<h3 class="uk-panel-title" style="font-size:1.5rem;">{{{__ "program_day1_time10_title"}}}</h3>
					<div class="uk-margin" style="font-size:1.5rem;">
						{{{__ "program_day1_time10_desc"}}} 
					</div>
				</div>
			</div>
			<div class="uk-width-1-3@m">
				<h3 class="uk-flex-top"><span style="font-size:1.5rem;">{{{__ "program_day1_time11"}}}</span></h3>
			</div>
			<div class="uk-width-2-3@m">
				<div class="uk-panel uk-width-1-1">
					<h3 class="uk-panel-title" style="font-size:1.5rem;">{{{__ "program_day1_time11_title"}}}</h3>
					<div class="uk-margin" style="font-size:1.5rem;">
						{{{__ "program_day1_time11_desc"}}} 
					</div>
				</div>
			</div>
			<div class="uk-width-1-3@m">
				<h3 class="uk-flex-top"><span style="font-size:1.5rem;">{{{__ "program_day1_time12"}}}</span></h3>
			</div>
			<div class="uk-width-2-3@m">
				<div class="uk-panel uk-width-1-1">
					<h3 class="uk-panel-title" style="font-size:1.5rem;">{{{__ "program_day1_time12_title"}}}</h3>
					<div class="uk-margin" style="font-size:1.5rem;">
						{{{__ "program_day1_time12_desc"}}} 
					</div>
				</div>
			</div>
			<div class="uk-width-1-3@m">
				<h3 class="uk-flex-top"><span style="font-size:1.5rem;">{{{__ "program_day1_time13"}}}</span></h3>
			</div>
			<div class="uk-width-2-3@m">
				<div class="uk-panel uk-width-1-1">
					<h3 class="uk-panel-title" style="font-size:1.5rem;">{{{__ "program_day1_time13_title"}}}</h3>
					<div class="uk-margin" style="font-size:1.5rem;">
						{{{__ "program_day1_time13_desc"}}} 
					</div>
				</div>
			</div>
			<div class="uk-width-1-3@m">
				<h3 class="uk-flex-top"><span style="font-size:1.5rem;">{{{__ "program_day1_time14"}}}</span></h3>
			</div>
			<div class="uk-width-2-3@m">
				<div class="uk-panel uk-width-1-1">
					<h3 class="uk-panel-title" style="font-size:1.5rem;">{{{__ "program_day1_time14_title"}}}</h3>
					<div class="uk-margin" style="font-size:1.5rem;">
						{{{__ "program_day1_time14_desc"}}} 
					</div>
				</div>
			</div>
			<div class="uk-width-1-3@m">
				<h3 class="uk-flex-top"><span style="font-size:1.5rem;">{{{__ "program_day1_time15"}}}</span></h3>
			</div>
			<div class="uk-width-2-3@m">
				<div class="uk-panel uk-width-1-1">
					<h3 class="uk-panel-title" style="font-size:1.5rem;">{{{__ "program_day1_time15_title"}}}</h3>
					<div class="uk-margin" style="font-size:1.5rem;">
						{{{__ "program_day1_time15_desc"}}} 
					</div>
				</div>
			</div>
			<div class="uk-width-1-3@m">
				<h3 class="uk-flex-top"><span style="font-size:1.5rem;">{{{__ "program_day1_time16"}}}</span></h3>
			</div>
			<div class="uk-width-2-3@m">
				<div class="uk-panel uk-width-1-1">
					<h3 class="uk-panel-title" style="font-size:1.5rem;">{{{__ "program_day1_time16_title"}}}</h3>
					<div class="uk-margin" style="font-size:1.5rem;">
						{{{__ "program_day1_time16_desc"}}} 
					</div>
				</div>
			</div>
			<div class="uk-width-1-3@m">
				<h3 class="uk-flex-top"><span style="font-size:1.5rem;">{{{__ "program_day1_time17"}}}</span></h3>
			</div>
			<div class="uk-width-2-3@m">
				<div class="uk-panel uk-width-1-1">
					<h3 class="uk-panel-title" style="font-size:1.5rem;">{{{__ "program_day1_time17_title"}}}</h3>
					<div class="uk-margin" style="font-size:1.5rem;">
						{{{__ "program_day1_time17_desc"}}} 
					</div>
				</div>
			</div>
		</div>
	</div> -->

<!-- 		<div class="tcs-diagonal-top"></div>
		<div class="tcs-boxes uk-grid good-for-tagline-details" uk-grid uk-height-match>
			<div class="uk-width-1-1 uk-width-1-2@m">
				<div class="uk-grid uk-flex-middle" uk-grid>
					<div class="uk-width-3-3@m uk-flex-middle">
						<div class="uk-margin-top text-great-title good-for-tagline-header">
							{{{__ "creative_talents"}}}
						</div>
						<div>
							{{{__ "creative_subtitle"}}}
						</div>
						<p class="text-great uk-text-left">
							{{{__ "creative_text"}}}
						</p>
					</div>
				</div>
			</div>
			<div class="uk-width-1-1 uk-width-1-2@m">
				<div class="uk-grid uk-flex-middle" uk-grid>
					<div class="uk-width-3-3@m uk-flex-middle">
						<div class="uk-margin-top text-great-title good-for-tagline-header">
							{{{__ "business_side"}}}
						</div>
						<div>
							{{{__ "business_subtitle"}}}
						</div>
						<p class="text-great uk-text-left">
							{{{__ "business_text"}}}
						</p>
					</div>
				</div>
			</div>
		</div> -->
		<div class="uk-grid">
			<div class="uk-width-1-1@l uk-width-1-1@s uk-width-extra-small-1-1 uk-width-1-1@m flex-center uk-margin-large-bottom">
			<div>
			<!-- <a href="http://www.eatonhouse.com.hk" target="_blank">
				<img alt="eaton house" style="width:500px; max-width:90vw" class="uk-responsive-height uk-visible@m" src="https://d3qwsxrru4xs4k.cloudfront.net/eaton_house.jpg"></a>

				<img alt="eaton house" style="width:300px; height:270px" class="uk-hidden@m" src="https://d3qwsxrru4xs4k.cloudfront.net/eaton_house_small.jpg"></a> -->
			</div>
<!-- 			<h1>{{{__ "eaton_house"}}}</h1>
			<h4>{{{__ "eaton_address"}}}</h4>
			<h1>{{{__ "day_1"}}}</h1> -->
			</div>
		</div>
<!-- 		<div class="clear uk-text-center uk-container" style="max-width: 500px" style="text-decoration: none">
			<a href="https://app.eventxtra.com/registrations/d6a3eafc-ad3b-4667-91d0-40053b2c2eaf/new" target="_blank" style="text-decoration: none">
			<div class="co-organizer-text uk-margin-small-bottom" id="bookindustrynow" style="text-decoration: none;">
			{{{__ "book_industry_now"}}}</div>
			</a>
		</div> -->
	</div>

</section>


<section id="fanday">
	<div class="uk-container uk-text-center uk-margin-large-bottom">
	<h1 class="sub-section-header uk-text-center uk-margin-large-bottom uk-padding-large-top event-sponsors-holder great-title-reverse">
		<span> {{{__ "fanday"}}}</span>
	</h1>
		<div class="uk-margin-large-bottom great-title-reverse" style="color:white">{{{__ "fanTagline"}}}</div>
	<h3 class="uk-text-center uk-padding-large-top" style="font-size:3.0rem">
		<span style="color:white">{{{__ "event_program_fan"}}}</span>
	</h3>
<!-- 	<div class="uk-container uk-padding-large-bottom" style="text-align: left">
		<div class="uk-grid uk-width-3-4 uk-margin-large-left">
			<div class="uk-width-1-3@m">
				<h3 class="uk-flex-top"><span style="font-size:1.5rem; color:white">{{{__ "program_day2_time1"}}}</span></h3>
			</div>
			<div class="uk-width-2-3@m">
				<div class="uk-panel uk-width-1-1">
					<h3 class="uk-panel-title"><span style="font-size:1.5rem;color:white">{{{__ "program_day2_time1_title"}}}</span></h3>
					<div class="uk-margin" style="font-size:1.5rem;color:white">
						<span style="font-size:1.5rem;color:white">{{{__ "program_day2_time1_desc"}}}</span>
					</div>
				</div>
			</div>
			<div class="uk-width-1-3@m">
				<h3 class="uk-flex-top"><span style="font-size:1.5rem; color:white">{{{__ "program_day2_time2"}}}</span></h3>
			</div>
			<div class="uk-width-2-3@m">
				<div class="uk-panel uk-width-1-1">
					<h3 class="uk-panel-title"><span style="font-size:1.5rem;color:white">{{{__ "program_day2_time2_title"}}}</span></h3>
					<div class="uk-margin" style="font-size:1.5rem;color:white">
						<span style="font-size:1.5rem;color:white">{{{__ "program_day2_time2_desc"}}}</span>
					</div>
				</div>
			</div>
			<div class="uk-width-1-3@m">
				<h3 class="uk-flex-top"><span style="font-size:1.5rem; color:white">{{{__ "program_day2_time3"}}}</span></h3>
			</div>
			<div class="uk-width-2-3@m">
				<div class="uk-panel uk-width-1-1">
					<h3 class="uk-panel-title"><span style="font-size:1.5rem;color:white">{{{__ "program_day2_time3_title"}}}</span></h3>
					<div class="uk-margin" style="font-size:1.5rem;color:white">
						<span style="font-size:1.5rem;color:white">{{{__ "program_day2_time3_desc"}}}</span>
					</div>
				</div>
			</div>
			<div class="uk-width-1-3@m">
				<h3 class="uk-flex-top"><span style="font-size:1.5rem; color:white">{{{__ "program_day2_time4"}}}</span></h3>
			</div>
			<div class="uk-width-2-3@m">
				<div class="uk-panel uk-width-1-1">
					<h3 class="uk-panel-title"><span style="font-size:1.5rem;color:white">{{{__ "program_day2_time4_title"}}}</span></h3>
					<div class="uk-margin" style="font-size:1.5rem;color:white">
						<span style="font-size:1.5rem;color:white">{{{__ "program_day2_time4_desc"}}}</span>
					</div>
				</div>
			</div>
		</div>
	</div> -->
		<div class="uk-grid" style="color:white">
			<div class="uk-width-1-1@l uk-width-1-1@s uk-width-extra-small-1-1 uk-width-1-1@m flex-center uk-margin-large-bottom">
<!-- 			<a href="https://google.com.hk/maps" target="_blank">
			<img class="uk-responsive-height" alt="hku" style="width: 500px;max-width:90vw" src="https://d3qwsxrru4xs4k.cloudfront.net/hkmap.jpg"></a> -->
<!-- 			<h1><span style="color:white">{{{__ "hku"}}}</span></h1>
			<h4><span style="color:white">{{{__ "hku_address"}}}</span></h4>
			<h1><span style="color:white">{{{__ "day_2"}}}</span></h1> -->
			</div>
		</div>
<!-- 		<div class="clear uk-text-center uk-container" style="max-width: 500px" style="text-decoration: none">
			<a href="#updated" uk-scroll="{offset:130}" style="text-decoration: none">
			<div class="co-organizer-text uk-margin-small-bottom" id="bookfannow" style="text-decoration: none;">
			{{{__ "book_fan_now"}}}</div>
			</a>
		</div> -->
	</div>
</section>

<section id="tickets" class="uk-margin-large-top uk-margin-large-bottom uk-container">
	<div>
		<h1 class="uk-text uk-text-center great-title">{{{__ "contact_title"}}}</h1>

		<div class="uk-container">
			<div class="uk-grid">
				<div class="uk-width-1-2">
					<div class="bio-text co-organizer-text" style="text-align: right">
						<div class="clear uk-text-center uk-container" style="max-width: 330px" style="text-decoration: none">
							<a href="https://app.eventxtra.com/registrations/d6a3eafc-ad3b-4667-91d0-40053b2c2eaf/new" target="_blank" style="text-decoration: none">
							<div class="co-organizer-text uk-margin-small-bottom" id="bookindustrynow" style="text-decoration: none;">
							{{{__ "book_industry_now"}}}</div>
							</a>

							<a href="https://melonhk.us14.list-manage.com/subscribe/post?u=07422cbec4f3b781af0a05e05&id=53f71fc917" target="_blank" style="text-decoration: none">
							<div class="co-organizer-text uk-margin-small-bottom" id="bookfannow" style="text-decoration: none;">
							{{{__ "book_fan_now"}}}</div>
							</a>
						</div>
					</div>
				</div>
				<div class="uk-width-1-2">
					<div style="padding-top:50px; color:#041b75; height:100px; font-size: 24px">@ Eaton House, 5/F, Champion Tower, 3 Garden Road, Central</div>
					<div style="padding-top:10px; color:#041b75; height:100px; font-size: 24px">@ HKU</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="uk-flex uk-flex-center uk-flex-middle uk-visible@m" id="hong-kong" style="background-image: url('https://s3-ap-southeast-1.amazonaws.com/melonhk/hk_banner2_melonhk.jpg')">
</section>

<section class="uk-responsive-width uk-hidden@m uk-hidden@m" style="max-width: 100vw">
	<img src="https://d3qwsxrru4xs4k.cloudfront.net/hk_skyline_small.jpg" alt="hong_kong_skyline">
</section>


<section class="sub clients">
	<h1 class="sub-section-header black uk-text-center uk-margin-large-bottom uk-padding-large-top event-sponsors-holder great-title">
		{{{__ "event_sponsors"}}}
	</h1>
	<div class="uk-container uk-text-center">
		<div class="uk-grid">
			<div class="uk-width-1-2@l uk-width-1-2@s uk-width-1-2@m flex-center uk-margin-large-bottom">
			<h2>{{{__ "main_sponsor"}}}</h2><br><img src="/images/qrf.png"></div>
			<div class="uk-width-1-2@l uk-width-1-2@s uk-width-1-2@m flex-center uk-margin-large-bottom">
			<h2>{{{__ "venue_sponsor"}}}</h2><br>
			<a href="http://www.eatonhouse.com.hk" target="_blank"><img src="https://d3qwsxrru4xs4k.cloudfront.net/eaton_logo.png" style="width: 300px">
			</a><br></div>
		</div>
	</div>
</section>

<hr>

<!-- <section class="banner-profile">
	<div class="uk-grid uk-grid-small uk-grid-medium uk-grid-large uk-grid">
		<div class="uk-width-1-1@s uk-width-meduim-1-1 uk-width-1-1@l uk-width-xl-1-1">
			<h2 class="sub-section-header black uk-text-center uk-margin-large-bottom uk-padding-large-top great-title">
				{{{__ "organizers"}}}
			</h2>
		</div>
	</div>
	<div class="uk-grid">
		<div class="uk-width-1-2@l uk-width-1-1@s uk-margin-large-bottom">
			<div class="uk-grid">
				<div class="uk-width-1-3@l uk-width-1-1@s uk-text-center">
					<div><img class="uk-border-rounded" src="https://d3qwsxrru4xs4k.cloudfront.net/Fritz.png"></div>
				</div>
				<div class="uk-width-2-3@l uk-width-1-1@s">
					<p class="uk-text-center bio-title co-organizer-text">{{{__ "fritz_name"}}}</p>
					<div class="bio-text co-organizer-text">
						{{{__ "fritz_bio"}}}
					</div>
				</div>
			</div>
		</div>
		<div class="uk-width-1-2@l uk-width-1-1@s">
			<div class="uk-grid">
				<div class="uk-width-1-3@l uk-width-1-1@s uk-text-center">
					<div><img class="uk-border-rounded" src="https://d3qwsxrru4xs4k.cloudfront.net/Siew.png"></div>
				</div>
				<div class="uk-width-2-3@l uk-width-1-1@s">
					<p class="uk-text-center bio-title co-organizer-text">{{{__ "siew_name"}}}</p>
					<div class="bio-text co-organizer-text">
						{{{__ "siew_bio"}}}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<hr> -->

<section class="sub clients">
	<h2 class="sub-section-header black uk-text-center uk-margin-large-bottom uk-padding-large-top great-title">
		{{{__ "partners"}}}
	</h2>
	<div class="uk-container uk-text-center">
		<div class="uk-grid">
			<div class="uk-width-1-3@l uk-width-1-1@s uk-width-1-3@m flex-center uk-margin-large-bottom">
			<a href="https://www.spoilt.com.hk/en/c/18-event-management" target="_blank"><img style="max-height: 150px" src="https://d3qwsxrru4xs4k.cloudfront.net/spoilt3.png"></a></div>
			<div class="uk-width-1-3@l uk-width-1-1@s uk-width-1-3@m flex-center uk-margin-large-bottom">
			<a href="https://codeshop.io" target="_blank"><img style="max-height: 150px" src="https://d3qwsxrru4xs4k.cloudfront.net/codeshop.png"></a></div>
			<div class="uk-width-1-3@l uk-width-1-1@s uk-width-1-3@m flex-center uk-margin-large-bottom">
			<a href="http://uplive.tw" target="_blank"><img style="max-height: 150px" src="https://d3qwsxrru4xs4k.cloudfront.net/uplive.png"></a></div>
		</div>
	</div>
</section>

<!-- <hr> -->

<div id="program">
</div>

<!-- 
<h2 class="sub-section-header black uk-text-center uk-margin-large-bottom uk-padding-large-top great-title">
	{{{__ "event_program"}}}
</h2>

<div id="program" class="uk-container uk-width-2-3">
<section class="tm-bottom-a uk-container" uk-grid uk-height-match>
		<div class="uk-width-1-1 uk-row-first">
			<div class="uk-panel">
				<div class="tm-event">
					<div class="uk-flex uk-flex-between">
						<div class="tm-event-nav uk-flex uk-flex-right">
							<ul uk-tab="connect: #agenda" uk-switcher="animation: uk-animation-fade">
								<li aria-expanded="true" class="uk-active">
									<a href="" style="font-size: 2em">{{{__ "program_day1"}}} &nbsp;&nbsp;&nbsp;</a>
								</li>
								<li aria-expanded="false" class="" >
									<a href="" style="font-size: 2em">{{{__ "program_day2"}}}</a>
								</li>
							</ul>
						</div>
					</div>
					<ul class="uk-switcher" id="agenda">
						<li aria-hidden="true" class="uk-active" style="animation-duration: 200ms;">
							<div class="uk-grid uk-grid-collapse uk-width-1-1">
								<div class="uk-width-1-3@m">
									<h3 class="tm-title-dash"><span class="tm-day">{{{__ "program_day1_time1"}}}</span></h3>
								</div>
								<div class="uk-width-2-3@m">
									<div class="uk-panel uk-width-1-1">
										<h3 class="uk-panel-title">{{{__ "program_day1_time1_title"}}}</h3>
										<div class="uk-margin">
											{{{__ "program_day1_time1_desc"}}} 
										</div>
									</div>
								</div>
							</div>
						</li>
						<li aria-hidden="false" class="" style="animation-duration: 200ms;">
							<div class="uk-grid uk-grid-collapse uk-width-1-1">
								<div class="uk-width-1-3@m">
									<h3 class="tm-title-dash"><span class="tm-day"> {{{__ "program_day2_time1"}}} </span></h3>
								</div>
								<div class="uk-width-2-3@m">
									<div class="uk-panel uk-width-1-1">
										<h3 class="uk-panel-title">{{{__ "program_day2_time1_title"}}}</h3>
										<div class="uk-margin">
											{{{__ "program_day2_time1_desc"}}}
										</div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
</div>
 -->
<hr>

<section class="uk-margin-large-top uk-margin-large-small uk-container" id="contact">
	<div class="uk-margin-large-bottom">
		<h1 class="uk-text uk-text-center great-title">{{{__ "contact_us"}}}</h1>
		<div class="bio-text co-organizer-text">
			{{{__ "general"}}}
		<br><br>{{{__ "media"}}}
		<br><br>{{{__ "join_team_text"}}} {{{__ "join_team_click"}}}
		</div>
	</div>
</section>

<hr>

<!-- <section class="uk-margin-large-top uk-margin-large-bottom uk-container" id="join">
	<div class="uk-margin-large-bottom">
		<h1 class="uk-text uk-text-center great-title">{{{__ "join_team"}}}</h1>
		<div class="bio-text co-organizer-text">
			{{{__ "join_team_text"}}}

		
		</div>
	</div>
</section>

<hr>
 -->
	<section id="news" class="uk-margin-large-top uk-margin-large-bottom uk-container" id="social">
		<h1 class="uk-text uk-text-center great-title">{{{__ "social_title"}}}</h1>
		<script src="//assets.juicer.io/embed.js" type="text/javascript">
		</script>
		<link href="//assets.juicer.io/embed.css" media="all" rel="stylesheet" type="text/css">
		<div class="juicer-feed" data-feed-id="melonhk" style="margin-left: 2em">
			<h1 class="referral"><a href="https://www.juicer.io">{{{__ "juicer"}}}</a></h1>
		</div>
	</section>

<hr>

<!--  	<section id="updated" class="banner-contact-us uk-block">
		<div class="uk-margin-large-top">
			<span class="great-title">{{{__ "keep_updated"}}}</span><br><br>
			<span class="contact-title">{{{__ "tickets_soon"}}}</span>
		</div>
		<div id="mc_embed_signup" style="font-size: 40px">
			<form action="//melonhk.us14.list-manage.com/subscribe/post?u=07422cbec4f3b781af0a05e05&amp;id=53f71fc917" class="validate uk-form uk-margin-large-bottom" id="mc-embedded-subscribe-form" method="post" name="mc-embedded-subscribe-form" novalidate="" target="_blank">

				<fieldset style="border-width: 0px">

					<h2 class="uk-text-center co-organizer-text"> {{{__ "input_box1Title"}}}</h2>

					<input style="font-size: 1.5rem;height: 75px;border-width: 1px;border-color:#d0d3de" class="contact-email required email hp-custom-form mailchimp uk-width-1-2" id="mce-EMAIL" name="EMAIL" placeholder='{{{__ "input_box1"}}}' type="email" value="">

					<h2 class="uk-text-center co-organizer-text">{{{__ "input_box2Title"}}}</h2>

					<input style="height: 75px;font-size: 1.5rem;border-width: 1px;border-color:#d0d3de" class="equired hp-custom-form mailchimp uk-width-1-2" id="mce-STORY" name="STORY" placeholder='{{{__ "input_box2"}}}' type="text" value="">

					<div class="clear" id="mce-responses">
						<div class="response" id="mce-error-response" style="display:none"></div>
						<div class="response" id="mce-success-response" style="display:none"></div>
					</div>

					real people should not fill this in and expect good things - do not remove this or risk form bot signups
					<div aria-hidden="true" class="contact-hidden-input">
						<input name="b_07422cbec4f3b781af0a05e05_53f71fc917" tabindex="-1" type="text" value="">
					</div>
					<div class="clear uk-margin-large-top">
						<input class="bookindustrynow" style="text-decoration: none;" id="mc-embedded-subscribe" name="subscribe" type="submit" value='{{{__ "sign_up"}}}'>
					</div>
				</fieldset>
			</form>
		</div>
	</section> -->

	<section id="footer" class="uk-margin-small-bottom">
		<div class="uk-container">
			<div class="uk-grid uk-grid-small uk-grid-medium uk-grid-large">
				<div class="uk-width-1-1">
					<p class="copy">{{{__ "footer"}}}</p>
				</div>
			</div>
		</div>
	</section>

	<script>
	 $.validate({
	   lang: 'en'
	 });
	</script>

	<script type="text/javascript">
		$( ".canvas-close" ).click(function() {
		 	UIkit.offcanvas('#mobile-nav')[0].toggle();
		});
	</script>

	<script type="text/javascript">
		var slideIndex = 0;
		
		showSlides();

		function showSlides() {
		    var i;
		    var slides = document.getElementsByClassName("mySlides");
		    for (i = 0; i < slides.length; i++) {
		        slides[i].style.display = "none"; 
		    }
		    slideIndex++;
		    if (slideIndex> slides.length) {slideIndex = 1} 
		    slides[slideIndex-1].style.display = "block"; 
		    setTimeout(showSlides, 8000); // Change image every 2 seconds
		}		
	</script>

	<script type="text/javascript">
		var slideIndex = 1;
		showSlides(slideIndex);

		function plusSlides(n) {
		  showSlides(slideIndex += n);
		}

		function currentSlide(n) {
		  showSlides(slideIndex = n);
		}

		function showSlides(n) {
		  var i;
		  var slides = document.getElementsByClassName("mySlides");
		  var dots = document.getElementsByClassName("dot");
		  if (n > slides.length) {slideIndex = 1} 
		  if (n < 1) {slideIndex = slides.length}
		  for (i = 0; i < slides.length; i++) {
		      slides[i].style.display = "none"; 
		  }
		  for (i = 0; i < dots.length; i++) {
		      dots[i].className = dots[i].className.replace(" active", "");
		  }
		  slides[slideIndex-1].style.display = "block"; 
		  dots[slideIndex-1].className += " active";
		}		
	</script>

	<script type='text/javascript'>
	(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);
	</script>
