<section id="section1">
	<div class="uk-block-muted">
		<div class="uk-width-small-1-1 uk-width-medium-1-1 uk-large-1-1 uk-width-xl-1-1">
			<div class="uk-panel">
				<div class="uk-slidenav-position uk-position-relative" data-uk-slideshow="{autoplay:true,autoplayInterval:9000}">
					<ul class="uk-slideshow uk-slideshow-fullscreen uk-viewport-height" data-uk-slideshow="">
						<li class="uk-active uk-responsive-height">
							<div class="uk-cover-background uk-position-cover" style="background-image: url('https://s3-ap-southeast-1.amazonaws.com/melonhk/banner1_melonhk.jpg')"></div>

							<div class="uk-overlay-panel uk-flex uk-flex-left uk-flex-top uk-text-left uk-hidden-small">
								<div class="uk-margin">
									<p class="slider-text-first"><br>
									<br>
									{{{__ "tagline"}}}<br>
									<br>
									<br>
								</div>
							</div>

							<div class="uk-overlay-panel uk-flex uk-flex-right uk-flex-bottom uk-text-right uk-hidden-small">
								<div class="uk-margin">
									<p class="slider-text-first">
									<br>
									{{{__ "venue_date"}}}<br>
									{{{__ "hong_kong"}}}</p>
								</div>
							</div>

							<div class="uk-overlay-panel uk-flex uk-flex-center uk-flex-middle uk-text-center uk-hidden-medium uk-hidden-large">
								<div class="uk-margin tagline-holder">
									<img src="/images/melon_logo2.png" class="uk-hidden-large melon-logo">
									<p class="slider-text-small">
									<br>
									{{{__ "tagline"}}}<br>
									<br>
									{{{__ "venue_date"}}}<br>
									{{{__ "hong_kong"}}}</p>
								</div>
							</div>

						</li>

						<li>
							<div class="uk-cover-background uk-position-cover" style="background-image: url('https://s3-ap-southeast-1.amazonaws.com/melonhk/banner3_melonhk.jpg')"></div>
							<div class="uk-overlay-panel uk-flex uk-flex-center uk-flex-middle uk-text-center uk-hidden-small">
								<div class="uk-margin">
									<p class="slider-text banner-tagline-cursive-text">
									{{{__ "paulKrugmanQuote"}}}<br>
									<br>
									- Paul Krugman</p>
								</div>
							</div>

							<div class="uk-overlay-panel uk-flex uk-flex-center uk-flex-middle uk-text-center uk-hidden-medium uk-hidden-large">
								<div class="uk-margin tagline-holder-small-screen">
									<img src="/images/melon_logo2.png" class="uk-hidden-large melon-logo">
									<p class="slider-text-small banner-tagline-cursive-text-small">
									<br>
									{{{__ "paulKrugmanQuote"}}}<br>
									<br>
									- Paul Krugman</p>
								</div>
							</div>
						</li>
					</ul><a class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideshow-item="previous" href=""></a> <a class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next" href=""></a>
					<div class="uk-overlay-panel uk-overlay-bottom">
					</div>
				</div>
			</div>
		</div>

		<div class="mouse-icon hidden-xs uk-hidden-small">
				<div class="scroll"></div>
		</div>

		<div class="uk-overlay-panel uk-overlay-top">
			<div class="uk-sticky-placeholder">
				<nav class="uk-navbar-flip navbar-translate-text-holder">
					<span class="uk-margin-large-right uk-hidden-small">
						<a class="navbar-translate-text" href="/en">En</a>
	          <a class="navbar-translate-text" href="/zh">简</a>
	          <a class="navbar-translate-text" href="/hk">繁</a>
	          <!-- <a class="navbar-translate-text klingon" href="/kl">Kl</a> -->
          </span>
					<img style="width:250px" src="/images/melon_logo2.png" class="uk-hidden-small">
					<span class="uk-margin-small-left uk-hidden-medium uk-hidden-large">
						<a class="navbar-translate-text" href="/en">En</a>
	          <a class="navbar-translate-text" href="/zh">简</a>
	          <a class="navbar-translate-text" href="/hk">繁</a>
	          <!-- <a class="navbar-translate-text klingon" href="/kl">Kl</a> -->
          </span>
					<div class="uk-navbar-flip uk-hidden-notouch">
						<ul class="uk-navbar-nav">
							<li>
								<a data-uk-offcanvas="" href="#my-id"><i class="uk-icon-navicon uk-icon-large clickable" data-uk-offcanvas="{target:'#my-id'}"></i></a>
							</li>
						</ul>
					</div>
					<div class="uk-offcanvas" id="my-id">
						<div class="uk-offcanvas-bar uk-offcanvas-bar-flip">
							<ul>
								<li>
									<a href="#section1">Home</a>
								</li>
								<li>
									<a data-uk-smooth-scroll="" href="#section2" class="sidenav-text">Good For</a>
								</li>
								<li>
									<a data-uk-smooth-scroll="" href="#section3" class="sidenav-text">Event Sponsors</a>
								</li>
								<li>
									<a data-uk-smooth-scroll="" href="#section4" class="sidenav-text">Co-Organizers</a>
								</li>
								<li>
									<a data-uk-smooth-scroll="" href="#section5" class="sidenav-text">Sign-up</a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</div>
</section>


<section>
	<div class="uk-container uk-container-center uk-text-center">
		<div class="uk-margin-large-bottom uk-margin-large-top great-title good-for-tagline">Venues</div>
		<div class="uk-grid">
			<div class="uk-width-large-1-2 uk-width-small-1-2 uk-width-extra-small-1-2 uk-width-medium-1-2 flex-center uk-margin-large-bottom">
			<img src="/images/eaton_house.jpg">
			<h1>Eaton House</h1>
			<h3>3 Garden Road, Hong Kong</h3>
			<h2>DAY 1 - 19th April 2017</h2>
			</div>
			<div class="uk-width-large-1-2 uk-width-small-1-2 uk-width-extra-small-1-2 uk-width-medium-1-2 flex-center uk-margin-large-bottom">
			<img src="/images/hku.jpg">
			<h1>Hong Kong University</h1>
			<h3>Pokfulam Road, Hong Kong</h3>
			<h2>DAY 2 - 20th April 2017</h2>
			</div>
		</div>
	</div>
</section>

<hr>

<section class="slant-top services-grid-box uk-block uk-position-relative uk-clearfix" id="section2">
	<div class="uk-container uk-container-center uk-text-center">
		<div class="uk-margin-large-bottom great-title good-for-tagline">{{{__ "goodForTagline"}}}</div>
		<div class="tcs-diagonal-top"></div>
		<div class="tcs-boxes uk-grid good-for-tagline-details" data-uk-grid-margin="" data-uk-grid-match="{target:'&gt; div &gt; .uk-panel'}">
			<div class="uk-width-1-1 uk-width-medium-1-2">
				<div class="uk-grid uk-flex-middle" data-uk-grid-margin="">
					<div class="uk-width-medium-3-3 uk-flex-middle">
						<div class="uk-margin-top text-great-title good-for-tagline-header">
							{{{__ "creative_talents"}}}
						</div>
						<div>
							{{{__ "creative_subtitle"}}}
						</div>
						<p class="text-great uk-text-left">
							{{{__ "creative_text"}}}
						</p>
					</div>
				</div>
			</div>
			<div class="uk-width-1-1 uk-width-medium-1-2">
				<div class="uk-grid uk-flex-middle" data-uk-grid-margin="">
					<div class="uk-width-medium-3-3 uk-flex-middle">
						<div class="uk-margin-top text-great-title good-for-tagline-header">
							{{{__ "business_side"}}}
						</div>
						<div>
							{{{__ "business_subtitle"}}}
						</div>
						<p class="text-great uk-text-left">
							{{{__ "business_text"}}}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<hr>

<section>
	<div class="uk-container uk-container-center uk-text-center">
		<div class="uk-margin-large-bottom great-title good-for-tagline">Speakers</div>
		<div class="uk-grid">
			<div class="uk-width-large-1-4 uk-width-small-1-2 uk-width-extra-small-1-2 uk-width-medium-1-4 flex-center uk-margin-large-bottom"><a href="#bio-speaker1" data-uk-modal><img src="/images/speakers/curtis.jpg"></a>
			<div>Curtis Chan</div></div>
			<div class="uk-width-large-1-4 uk-width-small-1-2 uk-width-extra-small-1-2 uk-width-medium-1-4 flex-center uk-margin-large-bottom"><a href="#bio-speaker2" data-uk-modal><img src="/images/speakers/andy.jpg"></a>
			<div>Andy Tian</div></div>
			<div class="uk-width-large-1-4 uk-width-small-1-2 uk-width-extra-small-1-2 uk-width-medium-1-4 flex-center uk-margin-large-bottom"><a href="#bio-speaker3" data-uk-modal><img src="/images/speakers/andrew.jpg"></a>
			<div>Andrew Bannister</div></div>
			<div class="uk-width-large-1-4 uk-width-small-1-2 uk-width-extra-small-1-2 uk-width-medium-1-4 flex-center uk-margin-large-bottom"><a href="#bio-speaker4" data-uk-modal><img src="/images/speakers/jl.jpg"></a>
			<div>Joe Lusby</div></div>
			<div class="uk-width-large-1-4 uk-width-small-1-2 uk-width-extra-small-1-2 uk-width-medium-1-4 flex-center uk-margin-large-bottom"><a href="#bio-speaker5" data-uk-modal><img src="/images/speakers/derek.jpg"></a>
			<div>Derek Ting</div></div>
			<div class="uk-width-large-1-4 uk-width-small-1-2 uk-width-extra-small-1-2 uk-width-medium-1-4 flex-center uk-margin-large-bottom"><a href="#bio-speaker6" data-uk-modal><img src="/images/speakers/eric.jpg"></a>
			<div>Eric Tan</div></div>
			<div class="uk-width-large-1-4 uk-width-small-1-2 uk-width-extra-small-1-2 uk-width-medium-1-4 flex-center uk-margin-large-bottom"><a href="#bio-speaker7" data-uk-modal><img src="/images/speakers/lavie.jpg"></a>
			<div>Lavie Tidhar</div></div>
			<div class="uk-width-large-1-4 uk-width-small-1-2 uk-width-extra-small-1-2 uk-width-medium-1-4 flex-center uk-margin-large-bottom"><a href="#bio-speaker8" data-uk-modal><img src="/images/speakers/paul.jpg"></a>
			<div>Paul Aiello</div></div>
		</div>
	</div>
</section>


<section class="uk-flex uk-flex-center uk-flex-middle uk-hidden-small" id="hong-kong" style="background-image: url('https://s3-ap-southeast-1.amazonaws.com/melonhk/hk_banner2_melonhk.jpg')">
</section>

<section class="uk-responsive-width uk-hidden-medium uk-hidden-large" style="max-width: 100vw">
	<img src="/images/hk_skyline_small.jpg" alt="hong_kong_skyline">
</section>




<section class="sub clients">
	<h1 class="sub-section-header black uk-text-center uk-margin-large-bottom uk-padding-large-top event-sponsors-holder">
		{{{__ "event_sponsors"}}}
	</h1>
	<div class="uk-container uk-container-center uk-text-center">
		<div class="uk-grid">
			<div class="uk-width-large-1-2 uk-width-small-1-2 uk-width-medium-1-2 flex-center uk-margin-large-bottom">
			<h2>Main Sponsor</h2><br><img src="/images/qrc2.png"></div>
			<div class="uk-width-large-1-2 uk-width-small-1-2 uk-width-medium-1-2 flex-center uk-margin-large-bottom">
			<h2>Venue Sponsor</h2><br><img src="/images/eaton_logo.png" style="width: 300px"><br></div>
		</div>
	</div>
</section>

<hr>

<section class="sub clients">
	<h2 class="sub-section-header black uk-text-center uk-margin-large-bottom uk-padding-large-top event-sponsors-holder">
		Partners
	</h2>
	<div class="uk-container uk-container-center uk-text-center">
		<div class="uk-grid">
			<div class="uk-width-large-1-3 uk-width-small-1-1 uk-width-medium-1-3 flex-center uk-margin-large-bottom"><img style="max-height: 150px" src="/images/spoilt3.png"></div>
			<div class="uk-width-large-1-3 uk-width-small-1-1 uk-width-medium-1-3 flex-center uk-margin-large-bottom"><img style="max-height: 150px" src="/images/codeshop.png"></div>
			<div class="uk-width-large-1-3 uk-width-small-1-1 uk-width-medium-1-3 flex-center uk-margin-large-bottom"><img style="max-height: 150px" src="/images/uplive.png"></div>
		</div>
	</div>
</section>

<hr>

<section class="banner-profile">
	<div class="uk-grid uk-grid-small uk-grid-medium uk-grid-large data-uk-grid-margin">
		<div class="uk-width-small-1-1 uk-width-meduim-1-1 uk-width-large-1-1 uk-width-xl-1-1">
			<article class="uk-article">
				<div class="uk-text-center">
					<h1 class="event-organizer">{{{__ "organizers"}}}</h1>
				</div>
			</article>
		</div>
	</div>
	<div class="uk-grid">
		<div class="uk-width-large-1-2 uk-width-small-1-1 uk-margin-large-bottom">
			<div class="uk-grid">
				<div class="uk-width-large-1-3 uk-width-small-1-1 uk-text-center">
					<div><img class="uk-border-circle" src="images/Fritz.png"></div>
				</div>
				<div class="uk-width-large-2-3 uk-width-small-1-1">
					<p class="uk-text-center bio-title co-organizer-text">{{{__ "fritz_name"}}}</p>
					<div class="bio-text co-organizer-text">
						{{{__ "fritz_bio"}}}
					</div>
				</div>
			</div>
		</div>
		<div class="uk-width-large-1-2 uk-width-small-1-1">
			<div class="uk-grid">
				<div class="uk-width-large-1-3 uk-width-small-1-1 uk-text-center">
					<div><img class="uk-border-circle" src="images/Siew.png"></div>
				</div>
				<div class="uk-width-large-2-3 uk-width-small-1-1">
					<p class="uk-text-center bio-title co-organizer-text">{{{__ "siew_name"}}}</p>
					<div class="bio-text co-organizer-text">
						{{{__ "siew_bio"}}}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<hr>


<div class="uk-container-center uk-container uk-width-2-3">
<section class="tm-bottom-a uk-grid" data-uk-grid-margin="" data-uk-grid-match="{target:'&gt; div &gt; .uk-panel'}">
		<div class="uk-text-center uk-container-center">
			<h1 class="uk-text uk-text-center">EVENT PROGRAM</h1>
		</div>
		<div class="uk-width-1-1 uk-row-first">
			<div class="uk-panel">
				<div class="tm-event">
					<div class="uk-flex uk-flex-space-between">
						<div class="tm-event-nav uk-flex uk-flex-right">
							<ul class="uk-subnav" data-uk-switcher="{connect: '#wk-746', animation: 'fade'}">
								<li aria-expanded="true" class="uk-active">
									<a href="" style="font-size: 2em">DAY 1&nbsp;&nbsp;&nbsp;</a>
								</li>
								<li aria-expanded="false" class="" >
									<a href="" style="font-size: 2em">DAY 2</a>
								</li>
							</ul>
						</div>
					</div>
					<ul class="uk-switcher" id="wk-746">
						<li aria-hidden="true" class="" style="animation-duration: 200ms;">
							<div class="uk-grid uk-grid-collapse uk-width-1-1" data-uk-margin="">
								<div class="uk-width-medium-1-3">
									<h3 class="tm-title-dash"><span class="tm-day">09:00</span> <span class="tm-month">AM</span></h3>
								</div>
								<div class="uk-width-medium-2-3">
									<div class="uk-panel uk-width-1-1">
										<h3 class="uk-panel-title">Registration <span class="uk-float-right uk-badge tm-time">06:00 pm</span></h3>
										<div class="uk-margin">
											Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
										</div><span><a class="tm-link-line uk-text-small" href="https://www.google.com/maps/place/Le%20Parker%20Meridien%20New%20York/@40.7642505,-73.9785605" target="_blank">Le Parker Meridien Hotel</a></span>
									</div>
								</div>
							</div>
							<div class="uk-grid uk-grid-collapse uk-width-1-1" data-uk-margin="">
								<div class="uk-width-medium-1-3">
									<h3 class="tm-title-dash"><span class="tm-day">10:00</span> <span class="tm-month">AM</span></h3>
								</div>
								<div class="uk-width-medium-2-3">
									<div class="uk-panel uk-width-1-1">
										<h3 class="uk-panel-title">Speaker 1 Main Stage <span class="uk-float-right uk-badge tm-time">07:00 pm</span></h3>
										<div class="uk-margin">
											Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
										</div>
									</div>
								</div>
							</div>
						</li>
						<li aria-hidden="false" class="uk-active" style="animation-duration: 200ms;">
							<div class="uk-grid uk-grid-collapse uk-width-1-1" data-uk-margin="">
								<div class="uk-width-medium-1-3">
									<h3 class="tm-title-dash"><span class="tm-day">09:00</span> <span class="tm-month">AM</span></h3>
								</div>
								<div class="uk-width-medium-2-3">
									<div class="uk-panel uk-width-1-1">
										<h3 class="uk-panel-title">Event Speaker, Main Stage<span class="uk-float-right uk-badge tm-time">4:00 pm</span></h3>
										<div class="uk-margin">
											Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
										</div>
									</div>
								</div>
							</div>
							<div class="uk-grid uk-grid-collapse uk-width-1-1" data-uk-margin="">
								<div class="uk-width-medium-1-3">
									<h3 class="tm-title-dash"><span class="tm-day">10:30</span> <span class="tm-month">AM</span></h3>
								</div>
								<div class="uk-width-medium-2-3">
									<div class="uk-panel uk-width-1-1">
										<h3 class="uk-panel-title">Future of Sci-Fi, Panel <span class="uk-float-right uk-badge tm-time">7:00 pm</span></h3>
										<div class="uk-margin">
											Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
										</div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
</div>

<hr>

<section class="uk-margin-large-top uk-container uk-container-center" id="join">
	<div>
		<h1 class="uk-text uk-text-center">{{{__ "contact_title"}}}</h1>
		<div class="bio-text co-organizer-text">
			<div class="clear uk-text-center uk-container uk-container-center" style="max-width: 300px" style="text-decoration: none">
				<a href="https://eventbrite.com" target="_blank" style="text-decoration: none">
				<div class="co-organizer-text" id="booknow" style="text-decoration: none">
				BOOK NOW</div></a>
			</div>
		</div>
	</div>
</section>

<hr>

<section class="banner-contact-us uk-block">
	<div class="uk-margin-large-bottom">
		<span class="contact-title" >KEEP ME UPDATED ABOUT MELON HK SCI FI</span>
	</div>
	<div id="mc_embed_signup" style="font-size: 40px">
		<form action="//melonhk.us14.list-manage.com/subscribe/post?u=07422cbec4f3b781af0a05e05&amp;id=53f71fc917" class="validate uk-form uk-margin-large-bottom" id="mc-embedded-subscribe-form" method="post" name="mc-embedded-subscribe-form" novalidate="" target="_blank">

			<fieldset>

				<h2 class="uk-text-center co-organizer-text"> {{{__ "input_box1Title"}}}</h2>

				<input style="font-size: 1.5rem;height: 75px;border-width: 1px;border-color:#d0d3de" class="contact-email required email hp-custom-form mailchimp uk-width-1-2" id="mce-EMAIL" name="EMAIL" placeholder='{{{__ "input_box1"}}}' type="email" value="">

				<h2 class="uk-text-center co-organizer-text">{{{__ "input_box2Title"}}}</h2>

				<input style="height: 75px;font-size: 1.5rem;border-width: 1px;border-color:#d0d3de" class="equired hp-custom-form mailchimp uk-width-1-2" id="mce-STORY" name="STORY" placeholder='{{{__ "input_box2"}}}' type="text" value="">

				<div class="clear" id="mce-responses">
					<div class="response" id="mce-error-response" style="display:none"></div>
					<div class="response" id="mce-success-response" style="display:none"></div>
				</div>

				<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				<div aria-hidden="true" class="contact-hidden-input">
					<input name="b_07422cbec4f3b781af0a05e05_53f71fc917" tabindex="-1" type="text" value="">
				</div>
				<div class="clear uk-margin-large-top">
					<input class="co-organizer-text" id="mc-embedded-subscribe" name="subscribe" type="submit" value='{{{__ "sign_up"}}}'>
				</div>
			</fieldset>
		</form>
	</div>
</section>

<hr>

<section class="uk-margin-large-top uk-margin-large-bottom uk-container uk-container-center" id="join">
	<div class="uk-margin-large-bottom">
		<h1 class="uk-text uk-text-center">JOIN THE TEAM</h1>
		<div class="bio-text co-organizer-text">
			Melon is looking for volunteers to join the team!  For those who are interested in Sci-Fi/Fantasy, literature, creative industries, event management and/or marketing, this will be an invaluable opportunity to meet award-winning authors and get experience in a top industry event. 


		<br><br>Click <a href="https://spoilt.recruiterbox.com/jobs/fk0m1xc" target="_blank">here</a> to apply to be a volunteer
		</div>
	</div>
</section>

<hr>

	<section class="uk-margin-large-top uk-margin-large-bottom uk-container uk-container-center" id="social">
		<h1 class="uk-text uk-text-center">{{{__ "social_title"}}}</h1>
		<script src="//assets.juicer.io/embed.js" type="text/javascript">
		</script>
		<link href="//assets.juicer.io/embed.css" media="all" rel="stylesheet" type="text/css">
		<div class="juicer-feed" data-feed-id="melonhk" style="margin-left: 2em">
			<h1 class="referral"><a href="https://www.juicer.io">Powered by Juicer</a></h1>
		</div>
	</section>


	<section id="footer" class="uk-margin-small-bottom">
		<div class="uk-container uk-container-center">
			<div class="uk-grid uk-grid-small uk-grid-medium uk-grid-large">
				<div class="uk-width-1-1">
					<p class="copy">{{{__ "footer"}}}</p>
				</div>
			</div>
		</div>
	</section>

	<div id="bio-speaker1" class="uk-modal">
	    <div class="uk-modal-dialog">
	        <a class="uk-modal-close uk-close"></a>
	        
	        <div class="uk-container uk-container-center">
	        	<div class="uk-text-center">
	        		<img src="images/speakers/curtis.jpg"/>
	        	</div>
	        	<div class="uk-text-center">CURTIS CHAN
	        	</div>
		        <p>
		 		Once a Silicon Valley software engineer, CURTIS C. CHEN now writes speculative fiction and runs puzzle games near Portland, Oregon. His debut novel WAYPOINT KANGAROO (Thomas Dunne Books, 2016) is a science fiction spy thriller about a superpowered secret agent facing his toughest mission yet: vacation. A sequel, KANGAROO TOO, is forthcoming in 2017. Curtis' short stories have appeared in Daily Science Fiction.
		 		</p>
	 		</div>
	    </div>
	</div>

	<div id="bio-speaker2" class="uk-modal">
	    <div class="uk-modal-dialog">
	        <a class="uk-modal-close uk-close"></a>
	        
	        <div class="uk-container uk-container-center">
	        	<div class="uk-text-center"><img src="images/speakers/andy.jpg"/>
	        	</div>
	        	<div class="uk-text-center">Andy Tian</div>
		        <p>
		 		Once a Silicon Valley software engineer, CURTIS C. CHEN now writes speculative fiction and runs puzzle games near Portland, Oregon. His debut novel WAYPOINT KANGAROO (Thomas Dunne Books, 2016) is a science fiction spy thriller about a superpowered secret agent facing his toughest mission yet: vacation. A sequel, KANGAROO TOO, is forthcoming in 2017. Curtis' short stories have appeared in Daily Science Fiction.
		 		</p>
	 		</div>
	    </div>
	</div>

	<div id="bio-speaker3" class="uk-modal">
	    <div class="uk-modal-dialog">
	        <a class="uk-modal-close uk-close"></a>
	        
	        <div class="uk-container uk-container-center">
	        	<div class="uk-text-center"><img src="images/speakers/andrew.jpg"/></div>
	        	<div class="uk-text-center">Andrew Bannister</div>
		        <p>
		 		Born in 1965, Andrew Bannister grew up in Cornwall. He studied Geology and went to work in the oil industry before becoming an Environmental Consultant, and then a construction specialist. He now works in construction industry during the day and writes books at all other times. He has been writing all his life - initially for student newspapers and fanzines before moving on to fiction and journalism. He has always loved reading science fiction, from the classics of the fifties and sixties to the energy of the present day, and a few years ago he discovered that writing it is even better. He now lives in Leicestershire where he writes, builds things and goes running.
		 		</p>
	 		</div>
	    </div>
	</div>

	<div id="bio-speaker4" class="uk-modal">
	    <div class="uk-modal-dialog">
	        <a class="uk-modal-close uk-close"></a>
	        
	        <div class="uk-container uk-container-center">
	        	<div class="uk-text-center"><img src="images/speakers/jl.jpg"/></div>
	        	<div class="uk-text-center">Joe Lusby</div>
		        <p>
		 		Jo Lusby is Managing Director of North Asia for Penguin Random House, the world’s largest consumer book publisher. She has set up successful operations in Beijing, Shanghai, Seoul, and, most recently Hong Kong, where she is now based.<br><br>
				Jo established the first Penguin Books based in the region in 2005, in Beijing. Under her guidance, Penguin Random House has emerged as the leading trade book publisher operating locally in the highly restricted China market. A fluent Mandarin speaker, Jo is responsible for all business operations, across publishing and acquisition of books for the Chinese, Korean, and English language markets, through to sales and distribution of English language imports from the UK and US.

		 		</p>
	 		</div>
	    </div>
	</div>

	<div id="bio-speaker5" class="uk-modal">
	    <div class="uk-modal-dialog">
	        <a class="uk-modal-close uk-close"></a>
	        
	        <div class="uk-container uk-container-center">
	        	<div class="uk-text-center"><img src="images/speakers/derek.jpg"/></div>
	        	<div class="uk-text-center">Derek Ting</div>
		        <p>
		 		Derek is a feature film producer, writer, and director.  He released his first feature film, $upercapitalist, financial thriller, August of 2012 and has been successful in both North America and Asia with in the millions of views, and widely featured by New York Times, BBC, CNBC, SCMP and others.  He followed up with his 2nd feature film, Always, which was released in 60 countries.  Derek is currently in post production on his 3rd feature and preproduction on his fourth.
		 		</p>
	 		</div>
	    </div>
	</div>

	<div id="bio-speaker6" class="uk-modal">
	    <div class="uk-modal-dialog">
	        <a class="uk-modal-close uk-close"></a>
	        <div class="uk-container uk-container-center">
	        	<div class="uk-text-center"><img src="images/speakers/eric.jpg"/></div>
	        	<div class="uk-text-center">Eric Tan</div>
		        <p>
				Eric founded Fifth Journey after nearly 20 years as an executive with Gameloft, Electronic Arts, Universal Pictures and Universal Music. As Managing Director and Head of Gameloft China, Eric led China publishing for major Hollywood franchises including Spiderman, Despicable Me, The Dark Knight, Iron Man, Ice Age, Thor, Captain America and others. Among his 20+ published titles for Hollywood, Despicable Me: Minion Rush remains a top-grosser in China and Gameloft’s best-selling game of all-time.
		 		</p>
	 		</div>
	    </div>
	</div>

	<div id="bio-speaker7" class="uk-modal">
	    <div class="uk-modal-dialog">
	        <a class="uk-modal-close uk-close"></a>
	        
	        <div class="uk-container uk-container-center">
	        	<div class="uk-text-center"><img src="images/speakers/lavie.jpg"/></div>
	        	<div class="uk-text-center">Lavie Tidhar</div>
		        <p>
		 		Raised on a socialist kibbutz in Israel and now living in the UK, Lavie Tidhar is the author of the Jerwood Fiction Uncovered Prize winning and Premio Roma nominee A Man Lies Dreaming (2014), the World Fantasy Award winning Osama (2011) and of the critically-acclaimed and Seiun Award nominated The Violent Century (2013). His latest novel is Central Station (2016). He is the author of many other novels, novellas and short stories, including the British Fantasy Award winning novella Gorel and the Pot-Bellied God (2011). As editor, he established The Apex Book of World SF series of anthologies focusing on international SF. Between 2009-2013 he also published the BSFA Award winning The World SF Blog.
		 		</p>
	 		</div>
	    </div>
	</div>

	<div id="bio-speaker8" class="uk-modal">
	    <div class="uk-modal-dialog">
	        <a class="uk-modal-close uk-close"></a>
	        
	        <div class="uk-container uk-container-center">
	        	<div class="uk-text-center"><img src="images/speakers/paul.jpg"/></div>
	        	<div class="uk-text-center">Paul Aiello</div>
		        <p>
		 		One of the most respected executives in the media industry in Asia Pacific, Paul is Managing Director of Emerald Media, a pan-Asian platform established by global investment firm KKR to fund investment opportunities in the fast growing media and entertainment industries across Asia.  Paul was formerly the co-founder and CEO of CA Media. Paul has 24 years of professional experience as a media executive and investment banker with Morgan Stanley and CS Frist Boston, most of his career focused on Asia Pacific. Prior to CA Media, he served as the CEO of STAR Group Ltd., the region’s leading pay television broadcaster. Prior to STAR, Paul was the head of TMT Investment Banking and the COO of Investment Banking for Morgan Stanley Asia. Paul received a B.A. degree in Economics and International Relations from Notre Dame and Ph.D in Economics from Cambridge University.
		 		</p>
	 		</div>
	    </div>
	</div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.23/jquery.form-validator.min.js"></script>

	<script>
	 $.validate({
	   lang: 'en'
	 });
	</script>

	<script src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js' type='text/javascript'></script>


	<script type='text/javascript'>
	(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);
	</script>
